// e.g. a Blog Post


.article {
  // So that if there's an .aside at the bottom, it stays within .article:
  @include clearfix;
}

.article .pagehead h1 {
  margin-bottom: $paragraph-margin-bottom;
  @include text-style-default;
}


/**
 * Put a series of .articles within a .articlelist.
 */
.articlelist {
  border-top: $border-width-sm solid $border-color;

  .article {
    padding-top: $hr-margin-sm;
    padding-bottom: $hr-margin-sm;
    border-bottom: $border-width-sm solid $border-color;
  }
}
