// ASIDES

// We use <aside class="card">s for sidebar cards but this file is all about
// <aside class="aside">

/**
 * <aside class="aside">
 *  <ul class="aside__inner">
 *    <li>A thing</li>
 *    <li>A thing</li>
 *  </ul>
 * </aside>
 *
 */

/**
 * Because we want the left border to go from the top of the top line of text
 * to the bottom of the bottom line, ignoring the line height above/below them,
 * we have the _inner div, and various adjustments up/down. This keeps the
 * left border visibly the correct height, and also keeps the lines of text
 * lined up with the article's main body text.
 */

// Hopefully, the size of the bit of line height that is above/below the
// text itself:

$article-aside-offset-top: 0.4rem;
$article-aside-offset-bottom: 0.5rem;

.aside {
  @include text-style-nav;
  line-height: $line-height-base-computed;
  border-left: $border-width solid $black;
  margin-top: $article-aside-offset-top;
  margin-bottom: $article-aside-offset-bottom;

  // We have to float it to get the border/height stuff to work.
  // I haven't found a better way to do it.
  // So whatever this is in will probably need clearfix included.
  float: left;
  width: 100%;

  .list--inline>.list--inline__item--bullet {
    // Adjusting for the larger line height than normal:
    background-position: 0 0.465em;
  }
}

.aside__inner {
  @include list-unstyled;
  padding-left: $border-width;
  margin-top: -$article-aside-offset-top;
  margin-bottom: -$article-aside-offset-bottom;
}


.aside--inline {
  border-left: none;

  .aside__inner {
    @include list-inline();

    & > li {
      @include list-item-bullet;
    }
  }
}


.aside--right {
  float: right;
  width: auto;
  max-width: 50%;
  margin-left: ($grid-gutter-width / 2);
  // Otherwise a line of article text will go immediately underneath,
  // which is neat, but a bit too close:
  margin-bottom: ($article-aside-offset-bottom + $paragraph-margin-bottom);
}

