// ASIDES

// We use <aside class="card">s for sidebar cards but this file is all about
// <aside class="aside">

/**
 * Because we want the left border to go from the top of the top line of text
 * to the bottom of the bottom line, ignoring the line height above/below them,
 * we have the _inner div, and various adjustments up/down. This keeps the
 * left border visibly the correct height, and also keeps the lines of text
 * lined up with the article's main body text.
 */

// Hopefully, the size of the bit of line height that is above/below the
// text itself:
$article-aside-offset: ($line-height-base-computed - $nav-font-size) / 2;

.aside {
  @include text-style-nav;
  line-height: $line-height-base-computed;
  border-left: $border-width solid $black;
  margin-top: $article-aside-offset;
  margin-bottom: ($article-aside-offset + $paragraph-margin-bottom);

  p,
  ul {
    margin-bottom: 0;
  }
}

.aside__inner {
  padding-left: $border-width;
  margin-top: -$article-aside-offset;
  margin-bottom: -$article-aside-offset;
}

.aside--right {
  float: right;
  max-width: 50%;
  margin-left: ($grid-gutter-width / 2);
}

