// ASIDES

// We use <aside class="card">s for sidebar cards but this file is all about
// <aside class="aside">

/**
 * Because we want the left border to go from the top of the top line of text
 * to the bottom of the bottom line, ignoring the line height above/below them,
 * we have the _inner div, and various adjustments up/down. This keeps the
 * left border visibly the correct height, and also keeps the lines of text
 * lined up with the article's main body text.
 */

// Hopefully, the size of the bit of line height that is above/below the
// text itself:
$article-aside-offset: ($line-height-base-computed - $nav-font-size) / 2;

.aside {
  @include text-style-nav;
  line-height: $line-height-base-computed;
  border-left: $border-width solid $black;
  margin-top: $article-aside-offset;
  margin-bottom: $article-aside-offset;

  // We have to float it to get the border/height stuff to work.
  // I haven't found a better way to do it.
  // So whatever this is in will probably need clearfix included.
  float: left;
  width: 100%;

  p,
  ul {
    margin-bottom: 0;
  }
}

.aside__inner {
  padding-left: $border-width;
  margin-top: -$article-aside-offset;
  margin-bottom: -$article-aside-offset;
}

.aside--right {
  float: right;
  width: auto;
  max-width: 50%;
  margin-left: ($grid-gutter-width / 2);
  // Otherwise a line of article text will go immediately underneath,
  // which is neat, but a bit too close:
  margin-bottom: ($article-aside-offset + $paragraph-margin-bottom);
}

