/**
 * Chart
 * For the stats d3 charts.
 */


.chart {
  width: 100%;
  height: 200px;
}

// Normal bar chart:
.chart--bargroup { fill: $border-color; }

// Stacked bar chart:
.chart__inner--bar-stacked {
  .chart__bargroup--0 { fill: $chart-bar-color-0; }
  .chart__bargroup--1 { fill: $chart-bar-color-1; }
  .chart__bargroup--2 { fill: $chart-bar-color-2; }
  .chart__bargroup--3 { fill: $chart-bar-color-3; }
  .chart__bargroup--4 { fill: $chart-bar-color-4; }
}

// From https://carto.com/carto-colors/
// #5F4690 purple
// #1D6996 blue
// #38A6A5 light blue
// #0F8554 green
// #73AF48 light green
// #EDAD08 yellow
// #E17C05 orange
// #CC503E red
// #94346E purple 2
// #6F4070 purple 3
// #994E95 puprle 4
// #666666 grey

.chart__bar--clickable:hover {
  fill: $link-color;
  cursor: pointer;
}

.chart__axis {
  font-size: $font-size-xs;
  font-family: $font-family-sans-serif;

  line,
  path {
    stroke: transparent;
  }

  text {
    fill: $body-color;
  }
}

// We have different classes for the x-axis depending on the number of
// ticks on it. We then hide/show different quantities of ticks at
// different browser widths, so that their labels should never overlap.

// > 30 ticks
.chart__axis--x--30 .tick {
  display: none;

  &:nth-child(5n) {
    display: inline;
  }

  @media (min-width: 400px) {
    &:nth-child(5n) {
      display: none;
    }
    &:nth-child(3n) {
      display: inline;
    }
  }

  @media (min-width: 580px) {
    &:nth-child(3n),
    &:nth-child(5n) {
      display: none;
    }
    &:nth-child(2n) {
      display: inline;
    }
  }

  @media (min-width: 1200px) {
    &,
    &:nth-child(3n),
    &:nth-child(5n) {
      display: inline;
    }
  }
}
// 21-30 ticks
.chart__axis--x--20 .tick {
  display: none;

  &:nth-child(5n) {
    display: inline;
  }

  @media (min-width: 400px) {
    &:nth-child(5n) {
      display: none;
    }
    &:nth-child(3n) {
      display: inline;
    }
  }

  @media (min-width: 580px) {
    &:nth-child(3n),
    &:nth-child(5n) {
      display: none;
    }
    &:nth-child(2n) {
      display: inline;
    }
  }

  @media (min-width: 1000px) {
    &,
    &:nth-child(3n),
    &:nth-child(5n) {
      display: inline;
    }
  }
}

// 16-20 ticks
.chart__axis--x--15 .tick {
  display: none;

  &:nth-child(3n) {
    display: inline;
  }

  @media (min-width: 400px) {
    &:nth-child(3n) {
      display: none;
    }
    &:nth-child(2n) {
      display: inline;
    }
  }

  @media (min-width: 720px) {
    &,
    &:nth-child(3n) {
      display: inline;
    }
  }
}

// 11-15 ticks
.chart__axis--x--10 .tick {
  display: none;

  &:nth-child(3n) {
    display: inline;
  }

  @media (min-width: 380px) {
    &:nth-child(3n) {
      display: none;
    }
    &:nth-child(2n) {
      display: inline;
    }
  }

  @media (min-width: 650px) {
    &,
    &:nth-child(3n) {
      display: inline;
    }
  }
}


.chart__axis--y--grid {
  line {
    stroke: $gray-light;
  }
  path {
    stroke: transparent;
  }
}


.chart-tooltip {
  background: $white;
  position: absolute;
  z-index: 20;
  visibility: hidden;
  padding: $vertical-space-sm $horizontal-space;
  font-family: $font-family-sans-serif;
  font-size: $font-size-xs;
  border: 1px solid $border-color;
}

.chart__description {
  @include text-style-alt;
}

.chart__legend {
  display: flex;
  flex-direction: column;
  margin-left: 50px;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}
.chart__legend__item {
  background: none;
  padding-left: 0;
  margin-right: $horizontal-space;
}
.chart__legend__item__key {
  display: inline-block;
  width: $border-width * 2;
  height: $border-width;
  margin-right: $horizontal-space-sm;
}
.chart__legend__item__key--0 { background: $chart-bar-color-0; }
.chart__legend__item__key--1 { background: $chart-bar-color-1; }
.chart__legend__item__key--2 { background: $chart-bar-color-2; }
.chart__legend__item__key--3 { background: $chart-bar-color-3; }
.chart__legend__item__key--4 { background: $chart-bar-color-4; }
