/*
 * <figure class="figure figure--blockquote">
 *  <blockquote>
 *    <p>My quote</p>
 *  </blockquote>
 *  <figcaption>
 *    A caption, <cite>And A Citation</cite>
 *  </figcaption>
 * </figure>
 */

.figure {
  margin: 0 0 $paragraph-margin-bottom 0;

  &.figure--full {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &.figure--left,
  &.figure--right {
    margin-top: 0.3em;
    max-width: 100%;
  }

  &.figure--left {
    @include media-breakpoint-up(sm) {
      float: left;
      clear: left;
      margin-right: ($grid-gutter-width / 2);
      max-width: 50%;
    }
  }

  &.figure--right {
    @include media-breakpoint-up(sm) {
      float: right;
      clear: right;
      margin-left: ($grid-gutter-width / 2);
      max-width: 50%;
    }
  }
}

figcaption {
  @include text-style-alt;
  margin-top: $paragraph-margin-bottom-sm;
}


// BLOCKQUOTE

.figure--blockquote {
  p:last-child {
    margin-bottom: 0;
  }

  figcaption {
    margin-top: 0;
    padding: 0 ($border-width * 2);
  }
}


// IMG

.figure--img {

  img {
    max-width: 100%;
    height: auto;
  }
}

.figure--img--border {
  img {
    border: 1px solid $gray-light;
  }
}

// At wider widths, expand a .figure--full almost to the right-hand edge.
@include media-breakpoint-up(md) {
  .grid__col--main--only {
    .figure--img {
      &.figure--full {
        // Not -50vw because that seems to take it *just* over the right-hand
        // edge and we get a horizontal scrollbar.
        // As we're adding padding anyway, you don't notice any slight gap.
        margin-right: calc(50% - 49vw);
        // Make it line up with right-edge of top navbar:
        padding-right: ($grid-gutter-width / 2);
        // We don't want it being TOO big in a massive window:
        // This seems to make it stretch to same as top nav bar:
        max-width: ($grid-main-only-max-width * 1.354);

        figcaption {
          // Make it the same width as the main--only column:
          max-width: $grid-main-only-max-width;
          padding-right: $grid-gutter-width;
        }
      }
    }
  }
}


// IFRAMES, VIDEO, ETC.

// From Bootstrap v4.
// Credit: Nicolas Gallagher and SUIT CSS.

.figure--embed {

  &.figure--left {
    @include media-breakpoint-up(sm) {
      width: 50%;
    }
  }

  &.figure--right {
    @include media-breakpoint-up(sm) {
      width: 50%;
    }
  }

  .figure--embed__21by9,
  .figure--embed__16by9,
  .figure--embed__4by3,
  .figure--embed__1by1 {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
    }

    iframe,
    embed,
    object,
    video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

// For Bandcamp 'Standard' embeds with 'Small' artwork.
// 592 x 120 px
.figure--embed__74by15 {
  &::before {
    padding-top: percentage(15 / 74);
  }
}


.figure--embed__21by9 {
  &::before {
    padding-top: percentage(9 / 21);
  }
}

.figure--embed__16by9 {
  &::before {
    padding-top: percentage(9 / 16);
  }
}

.figure--embed__4by3 {
  &::before {
    padding-top: percentage(3 / 4);
  }
}

.figure--embed__1by1 {
  &::before {
    padding-top: percentage(1 / 1);
  }
}
