/*
 * <figure class="figure figure--blockquote">
 *  <blockquote>
 *    <p>My quote</p>
 *  </blockquote>
 *  <figcaption>
 *    A caption, <cite>And A Citation</cite>
 *  </figcaption>
 * </figure>
 */

// Some things for the left/right floated images:
// (Which will be max-width: 50%)

// Maximum number of columns it should stretch to:
$fig-max-cols: floor($main-columns-1 / 2);

// That as a percentage of total width:
$fig-max-cols-percentage: percentage($fig-max-cols / $main-columns-1);


.figure {
  margin: 0 0 $vertical-space 0;

  &.figure--full {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &.figure--left,
  &.figure--right {
    margin-top: 0.4em; // It just looks about right.
    max-width: 100%;

    @include media-breakpoint-up(sm) {
      max-width: calc( #{$fig-max-cols-percentage} - #{$grid-gutter-width / 2} );
    }
  }

  &.figure--left {
    @include media-breakpoint-up(sm) {
      float: left;
      clear: left;
      margin-right: $grid-gutter-width;
    }
  }

  &.figure--right {
    @include media-breakpoint-up(sm) {
      float: right;
      clear: right;
      margin-left: $grid-gutter-width;
    }
  }
}

figcaption {
  @include text-style-alt;
  margin-top: $vertical-space-sm;
}


// BLOCKQUOTE

.figure--blockquote {
  p:last-child {
    margin-bottom: 0;
  }

  figcaption {
    margin-top: 0;
    padding: 0 ($base-unit * 2);
  }
}


// IMG

.figure--img {

  img {
    max-width: 100%;
    height: auto;
  }
}

.figure--img--border {
  img {
    border: 1px solid $gray-light;
  }
}

// e.g. 0.625 which makes the main column 62.5% of the full width:
$main-col-ratio: $main-columns-1 / $grid-columns;

// At wider widths, expand a .figure--full almost to the left & right-hand edges.
@include media-breakpoint-up(md) {
  .grid__col--main--only {
    .figure--img {
      &.figure--full {

        margin-left: percentage( -( ((1 - $main-col-ratio) / 2) / $main-col-ratio ) );
        margin-right: percentage( -( ((1 - $main-col-ratio) / 2) / $main-col-ratio ) );

        figcaption {
          width: percentage($main-col-ratio);
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}


// IFRAMES, VIDEO, ETC.

// From Bootstrap v4.
// Credit: Nicolas Gallagher and SUIT CSS.

// In case we need to use these outside of our .figure--embed class:
iframe,
embed,
object,
video {
  margin-bottom: $vertical-space;
}


.figure--embed {

  &.figure--left {
    @include media-breakpoint-up(sm) {
      width: 50%;
    }
  }

  &.figure--right {
    @include media-breakpoint-up(sm) {
      width: 50%;
    }
  }

  .figure--embed__21by9,
  .figure--embed__16by9,
  .figure--embed__4by3,
  .figure--embed__1by1 {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
    }

    iframe,
    embed,
    object,
    video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      margin-bottom: 0;
    }
  }
}


.figure--embed__21by9 {
  &::before {
    padding-top: percentage(9 / 21);
  }
}

.figure--embed__16by9 {
  &::before {
    padding-top: percentage(9 / 16);
  }
}

.figure--embed__4by3 {
  &::before {
    padding-top: percentage(3 / 4);
  }
}

.figure--embed__1by1 {
  &::before {
    padding-top: percentage(1 / 1);
  }
}
