/**
 * GRID
 *
 * Usage:
 *
 * <div class="grid">
 *  <div class="grid__row">
 *    <div class="grid__col grid__col--main"></div>
 *    <div class="grid__col grid__col--sub"></div>
 *  </div>
 * </div>
 *
 * <div class="grid">
 *  <div class="grid__row grid__row--alt">
 *    <div class="grid__col grid__col--main"></div>
 *    <div class="grid__col grid__col--sub"></div>
 *  </div>
 * </div>
 *
 * <div class="grid">
 *  <div class="grid__row">
 *    <div class="grid__col grid__col--main grid__col--main--only"></div>
 *  </div>
 * </div>
 */

.grid {
  @include make-container();
  max-width: $grid-max-width;
}

.grid__row {
  @include make-row();
}

// All columns should have this class...
.grid__col {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    // At narrowish widths, all columns are full width:
    @include make-col($grid-columns);
  }
}


// ...then one of these classes to set the col's width at wider window widths:
.grid__col--sub {
  @include media-breakpoint-up(md) {
    @include make-col($sub-columns);

    .grid__row--alt & {
      @include make-col($sub-columns-alt);
    }
  }
}
.grid__col--half {
  @include media-breakpoint-up(md) {
    @include make-col($half-columns);
  }
}
.grid__col--main {
  @include media-breakpoint-up(md) {
    @include make-col($main-columns);

    .grid__row--alt & {
      @include make-col($main-columns-alt);
    }
  }
}
.grid__col--full {
}

// Offsets
// Add one of these to push the column to the right the width of a sub, half or
// main column:
.grid__col--offset--sub {
  @include media-breakpoint-up(md) {
    @include make-col-offset($sub-columns)
  }
}
.grid__col--offset--half {
  @include media-breakpoint-up(md) {
    @include make-col-offset($half-columns)
  }
}
.grid__col--offset--main {
  @include media-breakpoint-up(md) {
    @include make-col-offset($main-columns)
  }
}

// When there's no sidebar, centre the main column at wider widths.
.grid__col--main--only {
  @include media-breakpoint-up(lg) {
    margin-left: auto;
    margin-right: auto;
  }
}


// Swap column orders by adding these:
.grid__col--first {
  @include media-breakpoint-up(md) {
    order: 1;
  }
}
.grid__col--last {
  @include media-breakpoint-up(md) {
    order: $grid-columns;
  }
}

// NESTED GRIDS

// Undoing the styles below that are for wider widths...
.grid {
  .grid {
    .grid__col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// Remove the left-right padding of the first/last columns in nested grids.
@include media-breakpoint-up(md) {
  .grid {
    .grid {
      .grid__col {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
      }
      .grid__col:first-child {
        padding-left: 0;
      }
      .grid__col:last-child {
        padding-right: 0;
      }

      .grid__col.grid__col--first {
        @include media-breakpoint-up(md) {
          padding-left: 0;
          padding-right: ($grid-gutter-width / 2);
        }
      }
      .grid__col.grid__col--last {
        @include media-breakpoint-up(md) {
          padding-left: ($grid-gutter-width / 2);
          padding-right: 0;
        }
      }
    }
  }
}
