/**
 * A grid showing columns and baseline over the whole page.
 * Requires <html> to have the .has-guide class.
 */

html.has-guide {
  position: relative;
}

/**
 * Settings
 * Defaults at narrowest width.
 **/
:root {
  --offset: ($grid-gutter-width / 2) + $body-horizontal-space-sm;
  --max_width: $grid-max-width - $grid-gutter-width;
  --columns: 1;
  --gutter: $grid-gutter-width;
  --baseline: $base-unit;
  --baseline-shift: 0;
  --color: hsla(0, 80%, 72%, 0.25);
}

/* Override settings for progressively wider widths. */
@include media-breakpoint-up(sm) {
  :root {
    --offset: ($grid-gutter-width / 2) + $body-horizontal-space;
    --color: hsla(43, 94%, 63%, 0.24);
  }
}

@include media-breakpoint-up(md) {
  :root {
    --columns: $grid-columns;
    --color: hsla(144, 51%, 44%, 0.18);
  }
}

@include media-breakpoint-up(lg) {
  :root {
    --color: hsla(204, 80%, 72%, 0.25);
  }
}

@include media-breakpoint-up(xl) {
  :root {
    --color: hsla(277, 80%, 72%, 0.17);
  }
}

/* Helper variables for the two backgrounds. */
:root {
 --repeating-width: calc(100% / var(--columns));
 --column-width: calc((100% / var(--columns)) - var(--gutter));
 --background-width: calc(100% + var(--gutter));
 --background-columns: repeating-linear-gradient(
   to right,
   var(--color),
   var(--color) var(--column-width),
   transparent var(--column-width),
   transparent var(--repeating-width)
 );
 --background-baseline: repeating-linear-gradient(
   to bottom,
   var(--color),
   var(--color) 1px,
   transparent 1px,
   transparent var(--baseline)
 );
}

/**
 * Add a pseudo element to the html tag which will contain the backgrounds
 * showing the columns.
 */
html.has-guide {
  position: relative;
}

html.has-guide::before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - (2 * var(--offset)));
  max-width: var(--max_width);
  min-height: 100vh;
  content: '';
  background-image: var(--background-columns), var(--background-baseline);
  background-size: var(--background-width) 100%;
  background-position: 0 var(--baseline-shift);
  z-index: 1000;
  pointer-events: none;

}
