/**
 * Used when we have a link where we want a bit of it to NOT be underlined.
 * So we'd have:
 *
 * <a class="nextprev" href="">
 *   I'm not underlined.
 *   <span class="nextprev__inner">I am underlined</span>
 * </a>
 *
 */
.nextprev {
  white-space: nowrap;
  text-decoration: none;

  .nextprev__inner {
    text-decoration: $link-decoration;
  }

  &:visited {
    .a__inner {
	    color: $link-visited-color;
    }
  }

  &:hover {
    text-decoration: none;

    .nextprev__inner {
      color: $link-hover-color;
    }
  }

  &:visited:hover {
    .nextprev__inner {
      color: $link-visited-hover-color;
    }
  }
}

