
// Lists

ul {
  list-style-type: none;
  padding-left: 0;

  li {
    @include list-item-bullet;
  }
}

ol {
  padding-left: 2em;
}


// Inline lists

.list--inline {
  @include list-inline;

  & > .list--inline__item--bullet {
    // For rare case when we want to force a particular item in an inline list
    // to have a bullet.
    @include list-item-bullet;
  }
}


// Unstyled lists

.list--unstyled {
  @include list-unstyled;
}


// Definition lists

dd:last-child {
  margin-bottom: 0;
}
