
// Lists

ul {
  list-style-type: square;
}

.list--unstyled {
  padding-left: 0;
  list-style: none;
}


// Inline lists

.list--inline {
  @include list-inline;
}

// Make the list itself, not just its items, inline!
.list--inline--inline {
  display: inline;
}

.list--inline__item {
  @include list-inline-item;
}

