// MEDIA
// For lists of blog posts, comments, etc.


// Used for both .media__header and .media__byline_author:
$media-header-size: $h4-font-size;


.media-list {
  padding-left: 0;
  list-style: none;
  border-top: $border-width-sm solid $border-color;
  margin-bottom: $vertical-space;
}

.media {
  padding-top: $vertical-space-sm;
  // So the bottom padding and border equal one $vertical-space:
  padding-bottom: calc(#{$vertical-space-sm} - #{$border-width-sm});
  border-bottom: $border-width-sm solid $border-color;

  display: flex;
  align-items: flex-start;

  &:first-child {
    // To allow for the .media-list's top border.
    padding-top: calc(#{$vertical-space-sm} - #{$border-width-sm});
  }

  .media:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  iframe,
  embed,
  object,
  video {
    margin-bottom: 0;
  }

  .meta--inline {
    margin-bottom: $vertical-space-sm;
  }
}

.media__img {
  margin-right: ($grid-gutter-width / 2);
}

.media__body {
  flex: 1;

  p {
    margin-bottom: $vertical-space-sm;
  }

  &>p:last-child,
  &>ul:last-child,
  &>ol:last-child,
  &>.media__header {
    margin-bottom: 0;
  }
}


.media__header {
  @include text-style-default;
  font-size: $media-header-size;
  margin-bottom: $vertical-space-sm;
}


.media__byline {
  @include text-style-nav;
  margin-bottom: $vertical-space-sm;
}

.media__byline__author {
  font-size: $media-header-size;
  // I don't know why, but making it this small keeps things to the grid:
  line-height: $font-size-sm;
}

// Media items in a .card.
.card {

  .media-list {
    border-top: none;
  }

  .media {
    padding-top: $vertical-space-sm;
    // So the bottom padding and border equal one $vertical-space-sm:
    padding-bottom: calc(#{$vertical-space-sm} - #{$border-width-sm});
    @include text-style-alt;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: $vertical-space-sm;
    }
  }

  .media__header {
    @include text-style-alt;
  }
}
