// MEDIA
// For lists of blog posts, comments, etc.


// Used for both .media_header and .media__byline_author:
$media-header-size: $h3-font-size;


.media-list {
  @include list-unstyled;
  border-top: $border-width-sm solid $border-color;
  margin-bottom: $paragraph-margin-bottom;
}

.media {
  padding-top: $hr-margin-sm;
  padding-bottom: $hr-margin-sm;
  border-bottom: $border-width-sm solid $border-color;
  display: flex;
  align-items: flex-start;

  .media:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.media__img {
  margin-top: 0.2em;
  margin-right: $border-width;
}

.media__body {
  flex: 1;

  p {
    margin-bottom: $paragraph-margin-bottom-sm;
  }

  &>p:last-child,
  &>ul:last-child,
  &>ol:last-child,
  &>.media__header {
    margin-bottom: 0;
  }
}


.media__header {
  @include text-style-default;
  font-size: $media-header-size;
  margin-bottom: $paragraph-margin-bottom-sm;
}


.media__byline {
  @include text-style-nav;
  margin-bottom: $paragraph-margin-bottom-sm;
}

.media__byline__author {
  font-size: $media-header-size;
  // Keep it the same line-height as .media__byline itself:
  line-height: ($nav-font-size * $line-height-base);
}

// Media items in a .card.
.card {

  .media-list {
    border-top: none;
  }

  .media {
    padding-top: $paragraph-margin-bottom-sm;
    padding-bottom: $paragraph-margin-bottom-sm;
    @include text-style-alt;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0.3em; // Just looks about right.
    }
  }

  .media__header {
    @include text-style-alt;
  }
}
