// MEDIA
// For lists of blog posts, comments, etc.

/**
 * Would probably only have .media__header OR .media__byline.
 *
 * <ol class="media-list">
 *  <li class="media">
 *
 *    <div class="media__header">
 *      <a href="#">The title of a thing</a>
 *    </div>
 *
 *    <div class="media__byline">
 *      <span class="media__byline_author">
 *        Bob
 *      </span>
 *      on 23 Feb 2017
 *    </div>
 *
 *    <p>Hello!</p>
 *
 *  </li>
 * </ol>
 */

.media-list {
  @include list-unstyled;
  border-top: $border-width-sm solid $border-color;
  margin-bottom: $paragraph-margin-bottom;
}

.media {
  padding-top: $hr-margin-sm;
  padding-bottom: $hr-margin-sm;
  border-bottom: $border-width-sm solid $border-color;
  @include clearfix;

  *:last-child {
    margin-bottom: 0;
  }
}

.media__header {
  margin-bottom: $paragraph-margin-bottom;
}

.media__byline {
  @include text-style-nav;
  margin-bottom: $paragraph-margin-bottom;
}

.media__byline__author {
  font-size: $h3-font-size;
  line-height: $line-height-base-computed;
}


// Variations on .media

.media--lg {
  .media__header {
    font-size: $h3-font-size;
  }
}
