//.nav__item--split::before {
	//content: "• ";
	//display: list-item;
//}
.nav__item--split {
	list-style: disc;
	margin-left: 1.8rem;
}

.navbar {
  position: relative;

  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
}

.navbar__title {
  order: 1;
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: $navbar-padding-x;
  font-size: $navbar-brand-font-size;
  line-height: inherit;
  white-space: nowrap;
    margin-right: auto;

  a {
    color: $navbar-text-color;
    text-decoration: none;

    &:focus,
    &:hover,
    &:visited {
      color: $navbar-text-color;
      text-decoration: underline;
    }
    &:visited {
      color: $navbar-text-color;
    }
  }
}

.navbar__nav {
  display: flex;
  flex-direction: row;
  order: 3;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  // Maximise space between links and search:
  margin-right: auto;

  .nav__link {
    display: block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: $navbar-link-color;
    font-variant: small-caps;
    text-transform: lowercase;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $navbar-link-hover-color;
      text-decoration: underline;
    }
    &:active {
      color: $navbar-link-active-color;
    }
  }

  .active > .nav__link,
  .nav__link.active {
    color: $navbar-text-color;
  }
}

.navbar__form {
  order: 2;
}

@include media-breakpoint-up(sm) {
  // Search to right of nav links.

  .navbar__nav {
    width: 100%;
  }
}

@media (min-width: 900px) {
  // All on one line.

  .navbar__title {
    width: auto;
    margin-right: $spacer;
  }

  .navbar__nav {
    order: 2;
    width: auto;
  }

  .navbar__form {
    order: 3;
  }
}

