.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  > .grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.navbar-title {
  order: 1;
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: $navbar-padding-x;
  font-size: $navbar-brand-font-size;
  line-height: inherit;
  white-space: nowrap;

  a {
    color: $navbar-text-color;
    text-decoration: none;

    &:focus,
    &:hover,
    &:visited {
      color: $navbar-text-color;
      text-decoration: underline;
    }
    &:visited {
      color: $navbar-text-color;
    }
  }
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  order: 2;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  // Maximise space between links and search:
  margin-right: auto;

  .nav-link {
    display: block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: $navbar-link-color;
    font-variant: small-caps;
    text-transform: lowercase;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $navbar-link-hover-color;
      text-decoration: underline;
    }
    &:active {
      color: $navbar-link-active-color;
    }
  }

  .active > .nav-link,
  .nav-link.active {
    color: $navbar-text-color;
  }
}

.navbar-form {
  order: 3;
}

@media (min-width: 400px) {
  // Search to right of title.

  .navbar-nav {
    order: 3;
  }

  .navbar-form {
    order: 2;
  }
}

@media (min-width: 576px) {
  // Search to right of nav links.

  .navbar-title {
    width:100%;
  }

  .navbar-nav {
    order: 2;
  }

  .navbar-form {
    order: 3;
  }
}

@media (min-width: 900px) {
  // All on one line.

  .navbar-title {
    width: auto;
  }
}

