
.pagefoot {
  margin-top: 4em;
  margin-bottom: 2em;
}

.pagefoot__inner {
  .grid__row {
    border-top: $border-width solid $border-color;
    padding-top: $border-width;
    margin-left: 0;
    margin-right: 0;
  }

  // At all widths, move columns to start and end of the row,
  // so they line up with the border ends.
  .grid__col:first-child {
    padding-left: 0;
  }
  .grid__col:last-child {
    padding-right: 0;
  }

  // At narrow widths, also remove the gutter that was between the columns.
  @include media-breakpoint-down(sm) {
    .grid__col:first-child {
      padding-right: 0;
    }

    .grid__col:last-child {
      padding-left: 0;
    }
  }
}

