
/**
 * We might want to split some things out into generic tags/tags_list/tag styles
 * but at the moment we only use an --inline variant.
 */

.tags--inline {

  .tags__heading {
    display: inline-block;
    font-size: $nav-font-size;
    margin-bottom: 0;
    margin-right: $list-inline-padding;
    font-weight: $text-style-nav-font-weight;
  }

  .tags__list {
    @include list-inline;
    // Make the list itself, not just its items, inline:
    display: inline;
  }

  .tag {
    @include list-inline-item;
  }
}
