/* TIMELINE
 * Styles used just for the 'About me' timeline table.
 */


.timeline {

  th,
  td {
    border: $table-border-width solid $table-border-color;
    padding: $table-cell-padding-sm;
    vertical-align: top;
    @include text-style-alt;
  }

  th {
    vertical-align: top;
    text-align: left;
  }

  td.tl-year {
    vertical-align: middle;
  }

  .tl-year,
  .tl-work,
  .tl-play,
  .tl-writing {
    background-color: $gray-light; 
  }

  .tl-place,
  .tl-ed,
  .tl-photos {
    background-color: $gray-light;
  }

  .tl-bottomless {
    border-bottom-color: $body-bg;
  }

  th.tl-ed,
  th.tl-play {
    width: 20%;
  }

  ul,
  li {
    margin-bottom: $paragraph-margin-bottom-sm;
  }
}
