body {
  word-wrap: break-word;
  /* @include hyphens(auto) */
}

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  @include hyphens(none);
}

// Headings

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-rendering: optimizeLegibility;
  line-height: $headings-line-height;
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  color: $headings-color;
  font-weight: $headings-font-weight;

  &:not(:first-child) {
    margin-top: ($paragraph-margin-bottom * 2);
  }

  @include text-style-headings();
}

h1, h2, h3,
.h1, .h2, .h3 {
  small {
    font-size: $nav-font-size;
  }
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

@include media-breakpoint-up(sm) {
  h1, .h1 { font-size: $h1-font-size-md; }
  h2, .h2 { font-size: $h2-font-size-md; }
  h3, .h3 { font-size: $h3-font-size-md; }
}

.pagehead h1 {
  margin-bottom: 1em;
}

// Other things

hr {
  margin-top: $hr-margin;
  margin-bottom: $hr-margin;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;

  &:first-child {
    margin-top: 0;
  }
}

hr.hr--sm {
  border-top-width: $hr-border-width-sm;
  margin-top: $hr-margin-sm;
  margin-bottom: $hr-margin-sm;
}

pre {
  white-space: pre;
  background: $gray-light;
  padding: 1rem ($border-width * 2);

  code {
    color: $body-color;
    white-space: pre-wrap;
  }
}

code {
  font-family: $font-family-monospace;
  font-weight: $font-weight-normal;
  color: $gray-dark;
  white-space: pre;
  word-wrap: normal;
}

abbr {
  @each $prefix in $browser-prefixes {
    #{$prefix}font-variant: small-caps;
  }
}

blockquote {
  border-left: $border-width solid $black;
  padding-left: $border-width;
  padding-right: ($border-width * 2);
}

