body {
  word-wrap: break-word;
  /* @include hyphens(auto) */
}

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  @include hyphens(none);
}

// Headings

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-rendering: optimizeLegibility;
  line-height: $headings-line-height;
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  color: $headings-color;
  font-weight: $headings-font-weight;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

@include media-breakpoint-up(sm) {
  h1, .h1 { font-size: $h1-font-size-md; }
  h2, .h2 { font-size: $h2-font-size-md; }
  h3, .h3 { font-size: $h3-font-size-md; }
}

.pagehead {
  h1 {
    margin-bottom: 1em;
  }
  .grid__col--main--only h1 {
    /* e.g. on Blog Posts. */
    margin-bottom: $paragraph-margin-bottom;
  }
}

.h--alt {
  @include text-style-alt;
}


// Other things

hr {
  margin-top: $paragraph-margin-bottom;
  margin-bottom: $paragraph-margin-bottom;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

pre {
  white-space: pre;
  background: $gray-light;
  padding: 1rem ($border-width * 2);

  code {
    color: $body-color;
    word-wrap: normal;
    white-space: pre-wrap;
  }
}

code {
  font-family: $font-family-monospace;
  font-weight: $font-weight-normal;
  color: $gray-dark;
  white-space: pre;
}

abbr {
  @each $prefix in $browser-prefixes {
    #{$prefix}font-variant: small-caps;
  }
}
