<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% block head_title %}{% block head_page_title %}{% endblock %} ({% block head_site_title %}{{ site_name }}{% endblock %}){% endblock %}</title>

		{% load static %}
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

		{% block head_extra %}
			{# Use this if you need to more to the <head> of every page. #}
		{% endblock %}
	</head>
	<body>

		{% block navbar %}
			<nav class="navbar navbar-toggleable">
				<div class="container">
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand" href="{% url 'hines:home' %}">
						{% block navbar_title %}
							{{ site_name}}
						{% endblock %}
					</a>
					<div class="collapse navbar-collapse" id="navbar-content">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item {% block writing_nav_active %}{% endblock %}">
								<a class="nav-link" href="#">
									Writing
								</a>
							</li>
						</ul>
					</div> <!-- .collapse.navbar-collapse -->
				</div> <!-- .container -->
			</nav>
		{% endblock navbar %}

		<div class="container">

			{% block content_heading %}
				<h1 class="my-4">
					{% block content_title %}
					{% endblock %}
				</h1>
			{% endblock %}

			{% block content_main %}
				<div class="row">
					<div class="col-md-9">
						{% block content %}
						{% endblock %}
					</div>
					<div class="col-md-3">
						{% block sidebar %}
						{% endblock %}
					</div>
				</div>
			{% endblock content_main %}
		</div>

	{% block footer %}
		{# Use this if you need to add a visible footer to every page. #}
	{% endblock %}

	<script src="{% static "js/jquery-3.1.1.slim.min.js" %}"></script>
	<script src="{% static "js/bootstrap/collapse.js" %}"></script>
	<script src="{% static "js/bootstrap/util.js" %}"></script>

	{% block foot_extra %}
		{# Use this if you need to add JS etc to the foot of the page. #}
	{% endblock %}
	</body>
</html>
