{% extends 'hines_core/layouts/sidebar_right.html' %}

{% load hines_core spectator_reading ditto_twitter %}

{% block head_page_title %}{{ day|date:"j F Y" }}{% endblock %}
{% block content_title %}{{ day|date:"j F Y" }}{% endblock %}

{% block content %}

	{% if previous_day or next_day %}
    {% include 'hines_core/includes/next_prev_date.html' with date_type='day' url_name='hines:day_archive' next=next_day previous=previous_day only %}
	{% endif %}

	{% if blogs|length == 0 and pinboard_bookmark_list|length == 0 and flickr_photo_list|length == 0 and twitter_tweet_list|length == 0 and twitter_favorite_list|length == 0 %}
		<p>There’s nothing to show here today.</p>
	{% endif %}

  {% for blog_data in blogs %}
    {% if blog_data.post_list|length > 0 %}
      <h2>{{ blog_data.blog.name }}</h2>

      {% include 'weblogs/includes/posts.html' with post_list=blog_data.post_list view='day' only %}

    {% endif %}
  {% endfor %}

	{% if flickr_photo_list|length > 0 %}
		<h2>Photos</h2>
		{% include 'hines_core/includes/photos.html' with photo_list=flickr_photo_list order='taken' only %}
	{% endif %}

	{% if pinboard_bookmark_list|length > 0 %}
		<h2>Links</h2>
		{% include 'links/includes/bookmarks.html' with bookmark_list=pinboard_bookmark_list only %}
	{% endif %}

	{% if twitter_tweet_list|length > 0 %}
		<h2>Tweets</h2>
		{% include 'hines_core/includes/tweets.html' with tweet_list=twitter_tweet_list perms=perms only %}
	{% endif %}

	{% if twitter_favorite_list|length > 0 %}
		<h2>Liked tweets</h2>

		{% include 'hines_core/includes/tweets.html' with tweet_list=twitter_favorite_list perms=perms only %}

    <p><small>Liked tweets are listed according to the day the tweet was posted, not when it was liked.</small></p>
	{% endif %}

{% endblock %}


{% block sidebar %}
	{% day_publications_card day %}

	{% lastfm_top_artists_card limit=3 date=day period='day' %}
{% endblock %}

