{% extends 'hines_core/base.html' %}

{% load spectator_reading ditto_twitter %}

{% block head_page_title %}{{ day|date:"j F Y" }}{% endblock %}
{% block content_title %}{{ day|date:"j F Y" }}{% endblock %}

{% block content %}

	{% if previous_day or next_day %}
		<nav class="nextprev">
			<p>
				{% if previous_day %}
					<a class="btn btn-outline-primary" href="{% url 'hines:day_archive' year=previous_day|date:"Y" month=previous_day|date:"m" day=previous_day|date:"d" %}">&larr; {{ previous_day|date:"j M Y" }}</a>
				{% endif %}
				{% if next_day %}
					<a class="btn btn-outline-primary float-right" href="{% url 'hines:day_archive' year=next_day|date:"Y" month=next_day|date:"m" day=next_day|date:"d" %}">{{ next_day|date:"j M Y" }} &rarr;</a>
				{% endif %}
			</p>
		</nav>
	{% endif %}

	{% if blogs|length == 0 and bookmark_list|length == 0 and photo_list|length == 0 %}
		<p>There’s nothing to show here today.</p>
	{% endif %}

	{% if blogs|length > 0 %}
		<hr>
		{% for blog_data in blogs %}
			<h2>{{ blog_data.blog.name }}</h2>

			{% include 'weblogs/includes/posts.html' with post_list=blog_data.post_list style='compact' only %}

		{% endfor %}
	{% endif %}

	{% if bookmark_list|length > 0 %}
		<h2>Links</h2>
		{% include 'links/includes/bookmarks.html' with bookmark_list=bookmark_list only %}
	{% endif %}

	{% if photo_list|length > 0 %}
		<h2>Photos</h2>
		{% include 'hines_core/includes/photos.html' with photo_list=photo_list order='taken' only %}
	{% endif %}

{% endblock %}


{% block sidebar %}
	{% day_publications_card day %}

	{% day_tweets date=day screen_name='philgyford' as tweet_list %}

	{% include 'hines_core/includes/card_tweets.html' with tweet_list=tweet_list card_title="Tweets" only %}

	{{ block.super }}
{% endblock %}

