{% extends 'hines_core/layouts/sidebar_right.html' %}

{% load ditto_twitter hines_core spectator_events spectator_reading %}

{% block head_page_title %}{{ day|date:"j F Y" }}{% endblock %}
{% block content_title %}{{ day|date:"j F Y" }}{% endblock %}

{% block content %}

	{% if previous_day or next_day %}
    {% include 'hines_core/includes/next_prev_date.html' with date_type='day' url_name='hines:day_archive' next=next_day previous=previous_day only %}
	{% endif %}

  {% if object_count == 0 %}

		<p>There’s nothing to show here today.</p>

  {% else %}

    {% for key, object_list in sections.items %}
      {% if object_list|length > 0 %}
        {% if key|slice:"12" == 'weblog_posts' %}
          {% with object_list.0.blog as blog %}
            <h2>{{ blog.name }}</h2>

            {% include 'weblogs/includes/posts.html' with post_list=object_list view='day' only %}
          {% endwith %}

        {% elif key == 'flickr_photo_list' %}
          <h2>Photos</h2>

          {% include 'hines_core/includes/photos.html' with photo_list=object_list order='taken' only %}

        {% elif key == 'pinboard_bookmark_list' %}
          <h2>Links</h2>

          {% include 'links/includes/bookmarks.html' with bookmark_list=object_list only %}

        {% elif key == 'twitter_tweet_list' %}
          <h2>Tweets</h2>

          {% include 'hines_core/includes/tweets.html' with tweet_list=object_list perms=perms only %}

        {% elif key == 'twitter_favorite_list' %}
          <h2>Liked tweets</h2>

          {% include 'hines_core/includes/tweets.html' with tweet_list=object_list perms=perms only %}

        {% endif %}

      {% endif %}
    {% endfor %}
  {% endif %}

{% endblock %}


{% block sidebar_content %}
	{% day_publications_card day %}

	{% day_events_card day %}

	{% lastfm_top_artists_card limit=3 date=day period='day' %}
{% endblock sidebar_content %}
