{% extends 'hines_core/layouts/sidebar_right.html' %}

{% load blocks hines_core spectator_events spectator_reading %}

{% block head_title %}{{ site_name }}{% endblock %}

{% block content %}

  {% for key, object_list in sections.items %}
    {% if object_list|length > 0 %}
      {% if key|slice:"12" == 'weblog_posts' %}
        {% with object_list.0.blog as blog %}
          <h2><a href="{{ blog.get_absolute_url }}" title="See more writing">{{ blog.name }}</a></h2>

          {% include 'weblogs/includes/posts.html' with post_list=object_list only %}
        {% endwith %}

      {% elif key == 'flickr_photo_list' %}
        <h2><a href="{% url 'photos:home' %}" title="See more photos">Photos</a></h2>

        <hr class="hr--sm">

        {% include 'hines_core/includes/photos.html' with photo_list=object_list order='uploaded' only %}

        <hr class="hr--sm">

      {% elif key == 'pinboard_bookmark_list' %}
        <h2><a href="{% url 'pinboard:home' %}" title="See more links">Links</a></h2>

        {% include 'links/includes/bookmarks.html' with bookmark_list=object_list only %}

      {% endif %}
    {% endif %}

  {% endfor %}

{% endblock %}

{% block sidebar %}
	{% render_block "about-me" %}

	{% in_progress_publications_card %}

	{% recent_events_card num=2 %}

	{% lastfm_recent_scrobbles_card limit=10 %}

{% endblock %}
