{% extends 'hines_core/layouts/sidebar_right.html' %}

{% load blocks hines_core spectator_events spectator_reading %}

{% block head_title %}{{ site_name }}{% endblock %}

{% block content_heading %}
{% endblock %}

{% block content %}

  {% for key, object_list in sections.items %}
    {% if object_list|length > 0 %}

      {% if key|slice:"12" == 'weblog_posts' %}
        {% with object_list.0.blog as blog %}
          <h2 class="h--bordered">{{ blog.name }}</h2>

          {% include 'weblogs/includes/posts.html' with post_list=object_list list_style='open' only %}

          <nav>
            <ul class="nav nav--right">
              <li class="nav__item">
                <a class="nav__link" href="{{ blog.get_absolute_url }}" title="See more writing">See more posts</a>
              </li>
            </ul>
          </nav>

        {% endwith %}

      {% elif key == 'flickr_photo_list' %}
        <h2 class="h--bordered">Photos</h2>

        {% include 'hines_core/includes/photos.html' with photo_list=object_list columns=4 order='uploaded' only %}

        <nav>
          <ul class="nav nav--right">
            <li class="nav__item">
              <a class="nav__link" href="{% url 'photos:home' %}" title="See more photos">See more photos</a>
            </li>
          </ul>
        </nav>

      {% elif key == 'pinboard_bookmark_list' %}
        <h2 class="h--bordered">Links</h2>

        {% include 'links/includes/bookmarks.html' with bookmark_list=object_list list_style='open' only %}

        <nav>
          <ul class="nav nav--right">
            <li class="nav__item">
              <a class="nav__link" href="{% url 'pinboard:home' %}" title="See more links">See more links</a>
            </li>
          </ul>
        </nav>

      {% endif %}

    {% endif %}
  {% endfor %}

{% endblock %}

{% block sidebar_content %}

	{% render_block "about-me" %}

  {% render_block "other-sites" %}

	{% in_progress_publications_card %}

	{% recent_events_card num=2 %}

	{% lastfm_recent_scrobbles_card limit=10 %}

  {% include "hines_core/includes/card_blogroll.html" %}

{% endblock sidebar_content %}
