{% extends 'hines_core/layouts/bare.html' %}


{% block head_extra %}
  <style type="text/css">
    .marker-70 {
      color: blue;
    }
    .marker-80 {
      color: red;
    }
  </style>
{% endblock head_extra %}

{% block body %}

  <div class="grid">

    <div class="grid__row">
      <div class="grid__col grid__col--main">
        <p>Try 1. This week, I’ve been listening to Night Sands by Sara Renberg on repeat, having heard a track on Dandelion Radio. This seems to be how I discover a lot of albums I like these days: one track on Dandelion jumps out at me, I listen to the album on Spotify, and like it enough to (possibly pointlessly) buy it.</p>
        <p>Some of the tracks really remind me of something very familiar, but o<span class="marker-70">b</span>viously n<span class="marker-80">o</span>t familiar enough to remember. I want to say it’s a favourite from the 1990s, That Dog, minus their violin and harmonies, but I’m not sure that’s who I’m thinking of.</p>
      </div>

      <div class="grid__col grid__col--sub">
        <div class="demo-text-style-alt">
          <p>I live in London, UK. I have been developing and designing things on the internet for 20 years. Sometimes I’m an actor. I’ve also been a modelmaker, illustrator and futurist.</p>
          <p>I live in London, UK. I have been developing and designing things on the internet for 20 years. Sometimes I’m an actor. I’ve also been a modelmaker, illustrator and futurist.</p>
        </div>
        <p class='demo-text-style-nav'>MORE ABOUT ME</p>
      </div>

    </div>
  </div> <!-- .container -->


  <div class="grid">

    <div class="grid__row">
      <div class="grid__col grid__col--main grid__col--main--only">
        <p>Try 1. This week, I’ve been listening to Night Sands by Sara Renberg on repeat, having heard a track on Dandelion Radio. This seems to be how I discover a lot of albums I like these days: one track on Dandelion jumps out at me, I listen to the album on Spotify, and like it enough to (possibly pointlessly) buy it.</p>

        <figure class="figure figure--img figure--full">
          <img src="https://c1.staticflickr.com/5/4426/37115570042_7f43df901f_m.jpg" alt="240 pixel wide image">
          <figcaption>This week, I’ve been listening to Night Sands by Sara Renberg on repeat, having heard a track on Dandelion Radio. This seems to be how I discover.</figcaption>
        </figure>

        <p>Some of the tracks really remind me of something very familiar, but o<span class="marker-70">b</span>viously n<span class="marker-80">o</span>t familiar enough to remember. I want to say it’s a favourite from the 1990s, That Dog, minus their violin and harmonies, but I’m not sure that’s who I’m thinking of.</p>
      </div>

    </div>
  </div> <!-- .container -->
{% endblock body %}
