{% comment %}
Used by the blog_popular_tags_card template tag.

Expects:
* tag_list - A QuerySet of Tags, with 'post_count' field.
* card_title - The title for the card.
* blog - A Blog object.
{% endcomment %}

{% if tag_list|length > 0 %}
  <aside class="card">
    <h2 class="card__header">{{ card_title }}</h2>

    {% include 'hines_core/includes/tags.html' with tag_list=tag_list format='chart' tag_type='post' blog_slug=blog.slug only %}

    <p>
      <a href="{% url 'hines:blog_tag_list' blog_slug=blog.slug %}">More tags</a>
    </p>
  </aside>
{% endif %}

