{% comment %}
Used by the blog_years_card template tag.

Expects:
* date_list - A QuerySet of date objects, one per year.
* card_title - The title for the card.
* blog - The Blog object.
* current_year - The year that shouldn't be linked. Optional.
{% endcomment %}

{% if date_list|length > 0 %}
  <aside class="card">
    <h2 class="card__header">{{ card_title }}</h2>
    <ul class="list--inline list--unstyled">
      {% for year in date_list %}
        <li>
          {% if current_year == year %}
            {{ year|date:"Y" }}
          {% else %}
            <a href="{% url 'weblogs:post_year_archive' blog_slug=blog.slug year=year|date:"Y" %}" title="See all posts in {{ year|date:"Y" }}">{{ year|date:"Y" }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </aside>
{% endif %}

