{% comment %}
Display several Posts.

Expects:

* post_list: A list or QuerySet of Posts.
* page_obj, optional, a DiggPaginator instance or False (default).
* perms - Django permissions.
{% endcomment %}

{% load hines_core %}

{% if post_list|length > 0 %}

  {% if page_obj|default:False and page_obj.number > 1 %}
    {% include 'hines_core/includes/pagination.html' with page_obj=page_obj only %}
  {% endif %}

  <ul>
    {% for post in post_list %}
      <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a><br>
        {{ post.excerpt }}<br>
        {% display_time post.time_published show='date' link_to_day=False %}

        {% comment %}
          <footer>
            {% if post.comment_count > 0 %}
              |
              {{ post.comment_count }} comment{{ post.comment_count|pluralize }}
            {% endif %}
            {% if post.trackback_count > 0 %}
              |
              {{ post.trackback_count }} trackback{{ post.trackback_count|pluralize }}
            {% endif %}
          </footer>
        {% endcomment %}
      </li>
    {% endfor %}
  </ul>

  {% if page_obj|default:False %}
    {% include 'hines_core/includes/pagination.html' with page_obj=page_obj only %}
  {% endif %}

{% else %}
  <p>There are no posts to show.</p>
{% endif %}

