{% comment %}
Display a Post.

Expects:

* post - A Post.
* in_list - Boolean, default True. Will show a linked title, and metadata.
* compact: Boolean, optional, default is False. Don't show the full body.
{% endcomment %}

<article class="post">
	{% if in_list|default_if_none:True %}
		<header>
			<h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
		</header>
	{% endif %}

	{% if compact|default_if_none:False %}
		<div class="post-excerpt">
			{{ post.intro_html|safe }}
			<p><a href="{{ post.get_absolute_url }}">Continue reading…</a></p>
		</div>
	{% else %}
		<div class="post-intro">
			{{ post.intro_html|safe }}
		</div>

		<div class="post-body">
			{{ post.body_html|safe }}
		</div>

		{% with post.get_tags as tags %}
			{% if tags|length > 0 %}
				<ul class="post-tags list-inline">
					{% for tag in tags %}
						<li class="list-inline-item">
							<a href="{% url 'hines:blog_tag_detail' blog_slug=post.blog.slug tag_slug=tag.slug %}" title="More posts tagged with {{ tag.name }}">{{ tag.name }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	{% endif %}

	{% if in_list|default_if_none:True %}
		<footer>
			{% load hines_core %}
			Published at {% display_time post.time_published link_to_day=True %}
			|
			{% if post.comment_count == 0 %}
				No
			{% else %}
				{{ post.comment_count }}
			{% endif %}
			comment{{ post.comment_count|pluralize }}
		</footer>
	{% endif %}
</article>

