{% comment %}
Display several Posts.

Expects:

* post_list: A list or QuerySet of Posts.
* perms - Django permissions.
{% endcomment %}

{% load hines_core %}

{% if post_list|length > 0 %}
  <ul>
    {% for post in post_list %}
      <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a><br>
        {{ post.excerpt }}<br>
        {% display_time post.time_published show='date' link_to_day=False %}

        {% comment %}
          <footer>
            {% if post.comment_count > 0 %}
              |
              {{ post.comment_count }} comment{{ post.comment_count|pluralize }}
            {% endif %}
            {% if post.trackback_count > 0 %}
              |
              {{ post.trackback_count }} trackback{{ post.trackback_count|pluralize }}
            {% endif %}
          </footer>
        {% endcomment %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

