{% comment %}
Display several Posts.

Overriding the base spectator_core so we can use our media and meta styles.

Expects:

* post_list: A list or QuerySet of Posts.
* page_obj, optional, a DiggPaginator instance or False (default).
* perms - Django permissions.
* view - 'day' or 'list' (default).
{% endcomment %}

{% load hines_core %}

{% if post_list|length > 0 %}

  {% if page_obj|default:False and page_obj.number > 1 %}
    {% include 'hines_core/includes/pagination.html' with page_obj=page_obj only %}
  {% endif %}

  <ol class="media-list">
    {% for post in post_list %}
      <li class="media">
        <div class="media__body">
          <h2 class="media__header">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          </h2>

          <p>{{ post.excerpt }}</p>

          <div class="meta meta--inline">
            <ul class="meta__inner">
            <li>
              {% if view == 'day' %}
                {% display_time post.time_published show='date' link_to_day=False %}
              {% else %}
                {% display_time post.time_published show='date' link_to_day=True %}
              {% endif %}
            </li>

            {% if post.comment_count > 0 %}
              <li>{{ post.comment_count }} comment{{ post.comment_count|pluralize }}</li>
            {% endif %}
            </ul>
          </div>
        </div>
      </li>
    {% endfor %}
  </ol>

  {% if page_obj|default:False %}
    {% include 'hines_core/includes/pagination.html' with page_obj=page_obj only %}
  {% endif %}

{% else %}
  <p>There are no posts to show.</p>
{% endif %}

