{% comment %}
Display a Post.

Expects:

* post - A Post.
* in_list - Boolean, default True. Will show a linked title, and metadata.
* perms - Django permissions.
* style: 'full' (default) or 'compact'.
{% endcomment %}

<article class="post">
	{% if in_list|default_if_none:True %}
		<header>
			<h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
		</header>
	{% endif %}

	{% if perms.weblogs.can_change_post %}
		<p><a class="admin" href="{% url 'admin:weblogs_post_change' post.id %}" title="Edit this Post in the Django Admin">Edit</a></p>
	{% endif %}

	{% if style|default_if_none:'full' == 'compact' %}
		<div class="post-excerpt">
			{{ post.intro_html|safe }}
			<p><a href="{{ post.get_absolute_url }}">Continue reading…</a></p>
		</div>
	{% else %}
		<div class="post-intro">
			{{ post.intro_html|safe }}
		</div>

		<div class="post-body">
			{{ post.body_html|safe }}
		</div>

		{% with post.get_tags as tags %}
			{% if tags|length > 0 %}
				Tags:
				<ul class="post-tags list-inline">
					{% for tag in tags %}
						<li class="list-inline-item">
							<a href="{% url 'hines:blog_tag_detail' blog_slug=post.blog.slug tag_slug=tag.slug %}" title="More posts tagged with {{ tag.name }}">{{ tag.name }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	{% endif %}

	{% if in_list|default_if_none:True %}
		<footer>
			{% load hines_core %}
			Published at {% display_time post.time_published link_to_day=True %}
			{% if post.comment_count > 0 %}
				|
				{{ post.comment_count }} comment{{ post.comment_count|pluralize }}
			{% endif %}
			{% if post.trackback_count > 0 %}
				|
				{{ post.trackback_count }} trackback{{ post.trackback_count|pluralize }}
			{% endif %}
		</footer>
	{% endif %}
</article>

