[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleach = "*"
"boto3" = "*"
dj-database-url = "*"
# Until this is fixed: https://github.com/yourlabs/django-autocomplete-light/issues/1137
django-autocomplete-light = "==3.5.0"
django-contrib-comments = "*"
django-ditto = "*"
django-spectator = "*"
django-storages = "*"
smartypants = "*"
whitenoise = "*"
Django = ">=3.1, <3.2"
Markdown = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
django-redis = "*"
beautifulsoup4 = "*"
sentry-sdk = "*"
django-hcaptcha = "*"

[dev-packages]
# If changing things here, might also need to do so in .travis.yml
django-debug-toolbar = "*"
coverage = "*"
factory-boy = "*"
freezegun = "*"
flake8 = "*"
# Got mismatched dependencies unless I specified a specific version:
black = "==19.10b0"

[requires]
python_version = "3.8"
