[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleach = "*"
"boto3" = "*"
dj-database-url = "*"
# Until this is fixed: https://github.com/yourlabs/django-autocomplete-light/issues/1137
django-autocomplete-light = "==3.5.0"
django-contrib-comments = "*"
django-ditto = "*"
django-spectator = "*"
django-storages = "*"
smartypants = "*"
whitenoise = "*"
Django = ">=3.0, <3.1"
Markdown = "*"
gunicorn = "*"
raven = "*"
"psycopg2-binary" = "*"
django-redis = "*"
beautifulsoup4 = "*"

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"
factory-boy = "*"
freezegun = "*"

[requires]
python_version = "3.8"
