[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleach = "*"
"boto3" = "*"
dj-database-url = "*"
django-autocomplete-light = "*"
django-contrib-comments = "*"
django-ditto = "*"
django-spectator = "*"
django-storages = "*"
smartypants = "*"
whitenoise = "*"
Django = "*"
Markdown = "*"
gunicorn = "*"
raven = "*"
"psycopg2-binary" = "*"
django-redis = "*"
beautifulsoup4 = "*"

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"
factory-boy = "*"
freezegun = "*"

[requires]
python_version = "3.7"
