beautifulsoup4
bleach
boto3
dj-database-url
Django
django-autocomplete-light
django-contrib-comments
django-cors-headers
django-ditto
django-extensions
django-hcaptcha
django-redis
django-spectator
django-storages
django-wm
gunicorn
markdown2
psycopg2
pygments
requests
rich
sentry-sdk
smartypants
whitenoise

# Dev
black==22.6.0
coverage
django-debug-toolbar
factory-boy
flake8
freezegun
ipython
responses