beautifulsoup4
bleach
boto3
dj-database-url
Django
django-autocomplete-light
django-contrib-comments
django-cors-headers
django-ditto
django-extensions
django-hcaptcha
django-q2
django-redis
django-spectator
django-storages
django-wm
gunicorn
markdown2
psycopg2
pygments
python-dotenv
requests
sentry-sdk
setproctitle
smartypants

# Dev
black
coverage[toml]
django-debug-toolbar
factory-boy
flake8
freezegun
ipython
isort
responses
tblib  # For tracebacks when running tests in parallel
