
@mixin link() {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;

  &:active {
    color: $link-active-color;
  }

  @include link_hover();

  &:visited {
	  color: $link-visited-color;
  }

  &:visited:hover {
    color: $link-visited-hover-color;
  }
}

@mixin link_hover() {
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-decoration;
  }
}

