{% extends 'spectator_reading/base.html' %}

{% load spectator_core spectator_reading %}

{% block sidebar_nav %}

    {% include 'spectator_reading/includes/card_nav.html' %}
    {% include 'spectator_core/includes/card_nav.html' %}

{% endblock sidebar_nav %}

{% block sidebar_content %}
    {% current_url_name as url_name %}

    {% if url_name != 'spectator:reading:home' and url_name != 'spectator:reading:reading_year_archive' %}
        {% in_progress_publications_card %}
    {% endif %}

    {% reading_years_card current_year=year %}

    {# annual_reading_counts_card current_year=year kind='all' #}

    <div class="card">
      <div class="card__body">
        <h2 class="card__header">Notes</h2>

        <ul class="mb-0">
          <li>No data available for before 1980, <span class="u-nowrap">1982–1985</span>, <span class="u-nowrap">1987–1989</span>.</li>
          <li>Data is incomplete for 1980, 1981, 1986, 1990, 1991, 1994 and 1997.</li>
          <li>Specific dates (rather than just a year) only recorded in the 1980s and since 2005.</li>
          <li>Reading of periodicals only recorded since 2005.</li>
        </ul>

      </div>
    </div>
{% endblock sidebar_content %}
