// A lot of these variables taken from Bootstrap.

@use "sass:math";

$img-path: "../img/css/";

$browser-prefixes: -webkit-, -moz-, -ms-, "";

/////////////////////////////////////////////////////////////////////////
// Color system
//
// https://www.w3.org/TR/2008/NOTE-WCAG20-TECHS-20081211/working-examples/G183/link-contrast.html

$white: #fff;
$gray-light: #ccc;
$gray-medium: #999;
$gray-dark: #666;
$gray-darkest: #333;
$black: #000;

$blue: #33f;
$blue-dark: #00c;
$green: #360;
$purple: #90c;
$red: #c00;
$yellow: #ff0;

$chart-bar-color-0: #1d6996;
$chart-bar-color-1: #cc503e;
$chart-bar-color-2: #73af48;
$chart-bar-color-3: #e17c05;
$chart-bar-color-4: #994e95;

$theme-colors: (
  "primary": $blue,
  "secondary": $black,
);

$theme-hover-colors: (
  "primary": $blue-dark,
  "secondary": $black,
);

$yiq-text-dark: $gray-darkest;
$yiq-text-light: $white;

$text-color-success: $green;
$text-color-warning: $red;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $gray-darkest;

$border-color: $black;

// Links
//
// Style anchor elements.

$link-decoration: underline;
$link-color: $blue;
$link-active-color: $red;
$link-hover-color: $red;
$link-visited-color: $link-color;
$link-visited-hover-color: $red;

/////////////////////////////////////////////////////////////////////////
// Base units

// The fundamental base measurement that we tie everything to.
// Line heights, padding, border widths, etc.
$base-unit-pixels: 6;

// Our three type sizes, in pixels:
$font-pixels-base: 20;
$font-pixels-sm: 14;
$font-pixels-xs: 12;

// And line-heights to go with the above, in pixels:
$line-height-pixels-base: $base-unit-pixels * 5; // 30
$line-height-pixels-sm: $base-unit-pixels * 4; // 24
$line-height-pixels-xs: $base-unit-pixels * 3; // 18

// Heading sizes in pixels, at widest widths:
// Narrower widths use one step down:
$h1-font-pixels: 35;
$h2-font-pixels: 29;
$h3-font-pixels: 24;
$h4-font-pixels: 20;
$h5-font-pixels: 17;
$h6-font-pixels: 14;

// Things like borders, line-heights, etc. will be multiples of this.
$base-unit: $base-unit-pixels * 1px;

// e.g. space below paragraphs:
$vertical-space: math.div($base-unit-pixels * 4, 16) * 1rem; // 24px
$vertical-space-sm: math.div($base-unit-pixels * 2, 16) * 1rem; // 12px

// For horizontal space that should be proportionate to font sizes:
$horizontal-space: math.div($base-unit-pixels * 2, 16) * 1rem; // 12px
$horizontal-space-sm: math.div($base-unit-pixels, 16) * 1rem; // 6px

// What we use for hr's, navbar rules, etc:
$border-width: ($base-unit * 2);
$border-width-sm: 1px;

/////////////////////////////////////////////////////////////////////////
// GRID

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Padding on L and R of body, at wide and narrow widths:
$body-horizontal-space: ($base-unit * 4);
$body-horizontal-space-sm: ($base-unit * 2);

// Grid containers

$grid-columns: 16;
$grid-gutter-width: ($base-unit * 4);

// Widths of our custom columns:

// Main content:
$main-columns: 10;

// Variations for when it's only one column, at certain widths:
$main-only-columns-md: $grid-columns;
$main-only-columns-lg: 12;
$main-only-columns-xl: $main-columns;
$main-only-columns: (
  md: $grid-columns,
  lg: 12,
  xl: $main-columns,
);

// Sidebar:
$sub-columns: 5;

// Variants:
$main-columns-alt: 12;
$sub-columns-alt: 3;

// Half width:
$half-columns: $grid-columns * 0.5;

/////////////////////////////////////////////////////////////////////////
// Fonts

// Base styles

$font-family-serif: Georgia, Times, "Times New Roman", serif;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

$font-family-base: $font-family-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;

$font-size-base: math.div($font-pixels-base, 16) * 1rem;
$line-height-base: math.div(
  $line-height-pixels-base,
  $font-pixels-base
); // 30px
$line-height-base-computed: $line-height-base * 1rem; // 30px

$font-size-sm: math.div($font-pixels-sm, 16) * 1rem;
$line-height-sm: math.div(
  $line-height-pixels-sm,
  $font-pixels-sm
); // 1.714; 24px
$line-height-sm-computed: $line-height-sm * 1rem; // 1.714rem; 24px

$font-size-xs: math.div($font-pixels-xs, 16) * 1rem;
$line-height-xs: math.div($line-height-pixels-xs, $font-pixels-xs); // 18px
$line-height-xs-computed: $line-height-xs * 1rem; // 18px

// Has to be adjusted to see what looks best with the base font size:
$font-size-monospace-base: 0.9em; // 18px in body text.
$line-height-monospace-base: 1.333333333em;

// For <pre> elements:
$font-size-monospace-pre: $font-size-xs;
$line-height-monospace-pre: $line-height-xs;

// Headings

$headings-margin-bottom: $vertical-space;
$headings-color: inherit;
$headings-font-weight: $font-weight-base;

$h1-font-size: math.div($h1-font-pixels, 16) * 1rem;
$h1-line-height: 2 * $line-height-base-computed;

$h2-font-size: math.div($h2-font-pixels, 16) * 1rem;
$h2-line-height: 2 * $line-height-base-computed;

$h3-font-size: math.div($h3-font-pixels, 16) * 1rem;
$h3-line-height: 1.5 * $line-height-base-computed;

$h4-font-size: math.div($h4-font-pixels, 16) * 1rem;
$h4-line-height: 1.5 * $line-height-base-computed;

$h5-font-size: math.div($h5-font-pixels, 16) * 1rem;
$h5-line-height: $line-height-base-computed;

$h6-font-size: math.div($h6-font-pixels, 16) * 1rem;
$h6-line-height: $line-height-base-computed;

// Variants for wider screens:
$h1-font-size-md: $h1-font-size;
$h1-line-height-md: $h1-line-height;

$h2-font-size-md: $h2-font-size;
$h2-line-height-md: $h2-line-height;

$h3-font-size-md: $h3-font-size;
$h3-line-height-md: $h3-line-height;

// Misc

$hr-border-color: $border-color;
$hr-border-width: $border-width;
$hr-border-width-sm: $border-width-sm;
$hr-margin: ($vertical-space * 2);
$hr-margin-sm: ($vertical-space * 1.5);

$dt-font-weight: $font-weight-bold;

$text-style-default-font-family: $font-family-serif;
$text-style-default-font-weight: $font-weight-normal;

$text-style-alt-font-family: $font-family-sans-serif;
$text-style-alt-font-weight: $font-weight-bold;

$list-inline-padding: ($base-unit * 2);

$cite-font-style: italic;

// Vertical position of the bullet (a background image):
$list-bullet-position: 0.5em;
// And when used with larger/smaller text:
$list-bullet-position-lg: 0.65em;
$list-bullet-position-sm: 0.4em;
$list-bullet-position-xs: 0.25em;

/////////////////////////////////////////////////////////////////////////
// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding-x: ($grid-gutter-width);
$table-cell-padding-y: $vertical-space-sm;
$table-cell-padding-sm-x: ($grid-gutter-width * 0.5);
$table-cell-padding-sm-y: ($vertical-space-sm * 0.5);

$table-border-width: $border-width-sm;
$table-border-color: $border-color;

/////////////////////////////////////////////////////////////////////////
// Buttons
//
// Shared variables that are reassigned to `$input-` and `$button-` specific variables.

$input-button-padding-y: ($line-height-base-computed * 0.25);
$input-button-padding-x: $horizontal-space;
$input-button-line-height: $line-height-base;

$input-button-focus-width: 0.2rem;

$input-button-padding-y-sm: 0;
$input-button-padding-x-sm: $horizontal-space-sm;
$input-button-line-height-sm: math.div($line-height-pixels-sm, $font-pixels-sm);

$input-button-border-width: 1px;

// Buttons

$button-border-width: $input-button-border-width;

$button-padding-y: calc(#{$input-button-padding-y} - #{$button-border-width});
$button-padding-x: $input-button-padding-x;
$button-line-height: $input-button-line-height;

$button-padding-y-sm: $input-button-padding-y-sm;
$button-padding-x-sm: $input-button-padding-x-sm;
$button-line-height-sm: calc(
  (#{$input-button-line-height} * 1rem) - (#{$input-button-border-width} * 2)
); // Fudgey

$button-focus-width: $input-button-focus-width;

$button-disabled-opacity: 0.65;

$button-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

/////////////////////////////////////////////////////////////////////////
// Forms

$input-bg: $body-bg;
$input-disabled-bg: $gray-light;

$input-color: $body-color;
$input-border-color: $black;
$input-border-width: $input-button-border-width;
$input-box-shadow: inset 0 1px 1px rgba($black, 0.075);

$input-padding-y: calc(#{$input-button-padding-y} - #{$input-border-width});
$input-padding-x: $input-button-padding-x;
$input-line-height: $input-button-line-height;

$input-padding-y-sm: $input-button-padding-y-sm;
$input-padding-x-sm: $input-button-padding-x-sm;
$input-line-height-sm: $input-button-line-height-sm;

$input-placeholder-color: $gray-medium;

$input-height-border: $input-button-border-width * 2;

$input-height-inner: ($font-size-base * $input-button-line-height) +
  ($input-button-padding-y * 2);
$input-height: $base-unit * 6; // Fudge

$input-height-inner-sm: ($font-size-sm * $input-button-line-height-sm) +
  ($input-button-padding-y-sm * 2);
//$input-height-sm:                       calc(#{$input-height-inner-sm} + #{$input-height-border});
$input-height-sm: $base-unit * 4; // Fudge

$input-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

$form-text-margin-top: 0;

$form-group-margin-bottom: $vertical-space;

$form-feedback-invalid-color: $red;

/////////////////////////////////////////////////////////////////////////
// Nav
// e.g. In the .navbar and in pagination.

$nav-link-padding-x: $horizontal-space;

$nav-link-color: $link-color;
$nav-link-hover-color: $link-hover-color;
$nav-link-active-color: $link-active-color;

$nav-disabled-color: $gray-medium;

$nav-text-color: $body-color;

$nav-border-width: $border-width;

// These also used for more general 'nav'-type text everywhere:

$nav-font-size: $font-size-sm;

// Navbar

$navbar-brand-font-size: $font-size-base;
