// Custom CSS only used for the Django Admin.

@import "functions";
@import "svgs";
@import "variables";
@import "mixins/bootstrap/breakpoints";
@import "mixins/bootstrap/clearfix";
@import "mixins/figures";
@import "mixins/links";
@import "mixins/lists";
@import "mixins/svgs";
@import "mixins/type";

// Hide the wierd Django Admin navbar on left:
#nav-sidebar,
#toggle-nav-sidebar {
  display: none;
}

.EasyMDEContainer {
  width: 100%;
  max-width: 610px;

  .CodeMirror {
    font-size: 20px;
  }
}

.app-weblogs.model-post.change-form {
  .field-intro,
  .field-body {
    label {
      // Stops the editor covering the label at small widths.
      float: none;
    }

    // Make it line up with the editor's info on right.
    .EasyMDEContainer + .help {
      margin-top: -23px;
    }
  }
}

@media (min-width: 883px) {
  // Have the label and editor side-by-side.
  .EasyMDEContainer {
    display: inline-block;
  }

  .app-weblogs.model-post.change-form {
    .field-intro,
    .field-body {
      label {
        float: left;
      }
    }
  }
}

// The Markdown editor previews.
.editor-preview-side,
.editor-preview {
  // A bit nicer than default.
  padding: 1rem 20px;

  // Things that we want to look similar in EasyMDE preview:
  @import "partials/reboot";
  @import "partials/figures";
  @import "partials/images";
  @import "partials/lists";
  @import "partials/type";

  // Fixing styles that Django's admin applies:

  ul {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .form-row & {
    p,
    li,
    dt,
    dd {
      @include text-style-default;
      font-size: $font-size-base;
      line-height: $line-height-base;
      color: $body-color;
    }
  }

  .module & h2 {
    background: none;
  }
}

// Make the django-autocomplete-light select2 input field the same width
// as textareas.
.select2-container {
  width: 100% !important;
  max-width: 622px;
}

@media (max-width: 1024px) {
  .select2-container {
    max-width: 518px;
  }
}

@media (max-width: 767px) {
  .select2-container {
    max-width: none;
  }
}
