{% extends 'sets/2002/weblogs/base.html' %}

{% load comments hines_comments hines_core l10n static %}

{% block head_title %}{{ post.title }} (Phil Gyford: {{ blog.short_name }}){% endblock %}

{% block head_extra %}
	{% with post.get_previous_post as previous_post %}{% if previous_post %}
	<link rel="prev" title="{{ previous_post.title }}" href="{{ previous_post.get_absolute_url }}"/>
	{% endif %}{% endwith %}
	{% with post.get_next_post as next_post %}{% if next_post %}
	<link rel="next" title="{{ next_post.title }}" href="{{ next_post.get_absolute_url }}"/>
	{% endif %}{% endwith %}
	<link rel="up" title="Archive for {{ post.time_created|date:"F Y" }}" href="{% url 'weblogs:post_month_archive' blog_slug=blog.slug year=post.time_created|date:"Y" month=post.time_created|date:"m" %}"/>

	<link rel="alternate" type="application/rdf+xml" title="RSS feed" href="{{ blog.get_rss_feed_url }}"/>
{% endblock head_extra %}

{% block subheadings %}
	<h2 class="three">{{ blog.short_name }}</h2>
	<h3 class="two">{{ post.time_created|date:"l j F Y" }}</h3>
	<h4 class="one">{% spaceless %}
		{% with post.get_previous_post as previous_post %}
			{% if previous_post %}
				<a href="{{ previous_post.get_absolute_url }}" title="Previous entry: {{ previous_post.title }}">
					<img src="{% static 'hines/sets/2002/images/nav/prev1.gif' %}" width="14" height="18" alt="Previous"/>
				</a>
			{% else %}
				<img src="{% static 'hines/sets/2002/images/nav/prev_off.gif' %}" width="14" height="18" border="0" align="baseline" alt="Prev">
			{% endif %}
		{% endwith %}
		<a href="{% url 'weblogs:post_month_archive' blog_slug=blog.slug year=post.time_created|date:"Y" month=post.time_created|date:"m" %}" title="Index">
			<img src="{% static 'hines/sets/2002/images/nav/menu1.gif' %}" width="14" height="18" border="0" align="baseline" alt="Index">
		</a>
		{% with post.get_next_post as next_post %}
			{% if next_post %}
				<a href="{{ next_post.get_absolute_url }}" title="Next entry: {{ next_post.title }}">
					<img src="{% static 'hines/sets/2002/images/nav/next1.gif' %}" width="14" height="18" border="0" align="baseline" alt="Next">
				</a>
			{% else %}
				<img src="{% static 'hines/sets/2002/images/nav/next_off.gif' %}" width="14" height="18" alt="Next"/>
			{% endif %}
		{% endwith %}
		{{ post.title }}
	{% endspaceless %}</h4>
{% endblock subheadings %}

{% block content %}
<div id="writing">
	<div class="indv-entry">

		{% if perms.weblogs.can_change_post %}<p><a class="utils-admin" href="{% url 'admin:weblogs_post_change' post.id %}" title="Edit this Post in the Django Admin">Edit</a></p>{% endif %}

{{ post.intro_html|safe }}
{{ post.body_html|safe }}

{% comment %}
We don't have categories any more, so can't really link to these...
<p><small>Read more from <a href="/phil/writing/cats/acting.php">Acting</a>.</small></p>
{% endcomment %}

{% get_comment_list for post as comment_list %}

{% if comment_list %}
		<div class="comments">

			<h5><a name="comments"></a>Comments</h5>

		{% for comment in comment_list %}
			<div class="comment"><a name="c{{ comment.id|unlocalize }}"></a>
				{{ comment.comment|safe|linebreaks_first }}
				<div class="controls">Posted by {{ comment.name }} on {{ comment.submit_date|date:"j F Y, g:i" }} {{ comment.submit_date|date:"A"|lower }} | <a href="{{ post.get_absolute_url }}#c{{ comment.id|unlocalize }}" title="Permanent link to this comment">Link</a></div>
			</div>
		{% endfor %}
{% endif %}

{% commenting_status_message post settings.comments_allowed settings.comments_close_after_days as comments_closed_message %}
{% if comments_closed_message %}
  <div style="margin-top:1em;">
    <p>{{ comments_closed_message }}</p>
  </div>
{% endif %}

{% comment %}
			<form method="post" action="" name="comments_form" onsubmit="if (this.bakecookie[0].checked) rememberMe(this)">
			<input type="hidden" name="static" value="1"/>
			<input type="hidden" name="entry_id" value="5720"/>

			<h5>Post a comment</h5>
			OR:
			<h5>Be the first to comment</h5>

			<div class="comment-fields">
				<div class="comment-input"><label for="author">Name (required):</label><br/>
				<input name="author" tabindex="1" id="author" size="25"/></div>

				<div class="comment-input"><label for="email">Email address (required):</label><br/>
				<input name="email" tabindex="2" id="email" size="25"/></div>

				<div class="comment-input"><label for="url">Personal URL:</label><br/>
				<input name="url" tabindex="3" id="url" size="25"/></div>
			</div>

			<div class="comment-remember">
				<div class="comment-input">Remember personal info?<br/>
					<input type="radio" id="bakecookie" name="bakecookie"/><label for="bakecookie">Yes</label><br/>
					<input type="radio" id="forget" name="bakecookie" onclick="forgetMe(this.form)" value="Forget Info"/><label for="forget">No</label><br style="clear: both;"/>
				</div>
			</div>

			<div class="comment-input"><label for="text">Comments:</label><br/>
			<textarea name="text" tabindex="4" id="text" rows="10" cols="40"></textarea></div>

			<div class="comment-input"><input type="submit" class="button" name="preview" value=" Preview then post "/></div>

			</form>

			<script type="text/javascript" language="javascript">
			<!--
			document.comments_form.email.value = getCookie("mtcmtmail");
			document.comments_form.author.value = getCookie("mtcmtauth");
			document.comments_form.url.value = getCookie("mtcmthome");
			if (getCookie("mtcmtauth")) {
				document.comments_form.bakecookie[0].checked = true;
			} else {
				document.comments_form.bakecookie[1].checked = true;
			}
			//-->
			</script>
{% endcomment %}


		</div><!-- end comments -->


{% with post.get_visible_trackbacks as trackbacks %}
	{% if trackbacks %}
		<div class="trackbacks">
			<h5><a name="trackback"></a>Some sites linking to this entry (Trackbacks)</h5>

		{% for trackback in trackbacks %}
			<div class="trackback">
				<p><a name="t{{ trackback.id }}"></a><strong><a href="{{ trackback.url }}" rel="nofollow">{{ trackback.title }}</a></strong><br>
				{{ trackback.excerpt }}<br>
				<small>At '{{ trackback.blog_name }}' on {{ trackback.time_created|date:"l j F Y, g:i A" }}</small></p>
			</div>
		{% endfor %}

		{% comment %}
			<p>&nbsp;<br/><small>TrackBack(<a href="/phil/writing/2003/01/05/000134.php#whatistrackback" title="More about TrackBack">?</a>) URL for this entry: http://www.gyford.com/cgi-sys/cgiwrap/gyford/gyford.com/mt/mt-tb.cgi/3820</small></p>
		{% endcomment %}
		</div><!-- end trackbacks -->
	{% endif %}
{% endwith %}


	</div><!-- end indv-entry -->

</div><!-- end writing -->

{% endblock content %}
