{% extends 'flatpages/base.html' %}

{% block about_nav_active %}active{% endblock %}

{% block sidebar %}
	{% load hines_tags %}
	{% current_url_name as url_name %}
	<div class="card">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				{% if url_name == 'hines:about' %}
					About me
				{% else %}
					<a href="{% url 'hines:about' %}">About me</a>
				{% endif %}
			</li>
			<li class="list-group-item">
				{% if url_name == 'hines:about_work' %}
					About my work
				{% else %}
					<a href="{% url 'hines:about_work' %}">About my work</a>
				{% endif %}
			</li>
			<li class="list-group-item">
				{% if url_name == 'hines:timeline' %}
					Timeline of things I’ve done
				{% else %}
					<a href="{% url 'hines:timeline' %}">Timeline of things I’ve done</a>
				{% endif %}
			</li>
		</ul>
	</div>

	{{ block.super }}
{% endblock %}
