{% extends 'flatpages/layouts/base.html' %}
{% load hines_core %}

{% block about_nav_active %}is-active{% endblock %}

{% block sidebar_nav %}
  {{ block.super }}

	{% current_url_name as url_name %}
	<nav class="card">
		<ul>
			<li>
				{% if url_name == 'hines:about' %}
					About me
				{% else %}
					<a href="{% url 'hines:about' %}">About me</a>
				{% endif %}
			</li>
			<li>
				{% if url_name == 'hines:about_projects' %}
          Personal projects
				{% else %}
					<a href="{% url 'hines:about_projects' %}">Personal projects</a>
				{% endif %}
			</li>
			<li>
				{% if url_name == 'hines:about_cv' %}
					CV / Resumé
				{% else %}
					<a href="{% url 'hines:about_cv' %}">CV / Résumé</a>
				{% endif %}
			</li>
			<li>
				{% if url_name == 'hines:timeline' %}
					Timeline of things I’ve done
				{% else %}
					<a href="{% url 'hines:timeline' %}">Timeline of things I’ve done</a>
				{% endif %}
			</li>
			<li>
				{% if url_name == 'hines:about_press' %}
          Press
				{% else %}
					<a href="{% url 'hines:about_press' %}">Press</a>
				{% endif %}
			</li>
			<li>
				<a href="{% url 'stats:home' %}">Stats</a>
			</li>
			<li>
				{% if url_name == 'hines:about_site' %}
					About this site
				{% else %}
					<a href="{% url 'hines:about_site' %}">About this site</a>
				{% endif %}
			</li>
		</ul>
	</nav>

{% endblock sidebar_nav %}
