<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="header">
        {% if blog %}
            <strong><a href="{% url weblog_blog_index blog.slug %}">{{ blog.name }}</a></strong>
        {% endif %}
    </div>
	<h1>{% block content_title %}{% endblock %}</h1>
	
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	
	<div id="sidebar">
    {% block sidebar %}{% endblock %}
	</div>

</body>
</html>
