{% extends 'hines_core/layouts/bare.html' %}
{% load hines_core %}

{% block body %}
  <a class="u-sr-only u-sr-only-focusable" href="#content">Skip to main content</a>
  {% current_url_name as url_name %}
  <nav class="navbar">
    <!--
    <div class="navbar__icon"></div>
    -->
    <div class="navbar__inner">
      <div class="navbar__title">
        {% if url_name == 'home' %}
          {{ site_name}}
        {% else %}
          <a href="{% url 'home' %}" title="To the front page of the site">
            {{ site_name}}
          </a>
        {% endif %}
      </div>
      <ul class="nav js-navbar-nav">
        <li class="nav__item{% if blog.slug == 'writing' %} is-active{% endif %}">
          {% if url_name != 'weblogs:blog_detail' or page_obj.number > 1 or blog.slug != 'writing' %}
            <a class="nav__link" href="{% url 'weblogs:blog_detail' blog_slug='writing' %}">Writing</a>
          {% else %}
            <span class="nav__link">Writing</span>
          {% endif %}
        </li>
        <li class="nav__item {% block photos_nav_active %}{% endblock %}">
          {% if url_name != 'photos:home' or page_obj.number > 1 %}
            <a class="nav__link" href="{% url 'photos:home' %}">Photos</a>
          {% else %}
            <span class="nav__link">Photos</span>
          {% endif %}
        </li>
        <li class="nav__item {% block links_nav_active %}{% endblock %}">
          {% if url_name != 'pinboard:home' or page_obj.number > 1 %}
            <a class="nav__link" href="{% url 'pinboard:home' %}">Links</a>
          {% else %}
            <span class="nav__link">Links</span>
          {% endif %}
        </li>
        {% comment %}
          <li class="nav__item{% if blog.slug == 'comments' %} is-active{% endif %}">
            {% if url_name != 'weblogs:blog_detail' or page_obj.number > 1 or blog.slug != 'comments' %}
              <a class="nav__link" href="{% url 'weblogs:blog_detail' blog_slug='comments' %}" title="Comments posted on other sites">Comments</a>
            {% else %}
              <span class="nav__link">Comments</span>
            {% endif %}
          </li>
        {% endcomment %}
        <li class="nav__item nav__item--split {% block reading_nav_active %}{% endblock %}">
          {% if url_name != 'reading_home' %}
            <a class="nav__link" href="{% url 'reading_home' %}">Reading</a>
          {% else %}
            <span class="nav__link">Reading</span>
          {% endif %}
        </li>
        <li class="nav__item {% block events_nav_active %}{% endblock %}">
          {% if url_name != 'spectator:events:home' %}
            <a class="nav__link" href="{% url 'spectator:events:home' %}">Events</a>
          {% else %}
            <span class="nav__link">Events</span>
          {% endif %}
        </li>
        <li class="nav__item nav__item--split {% block about_nav_active %}{% endblock %}">
          {% if url_name != 'hines:about' %}
            <a class="nav__link" href="{% url 'hines:about' %}">About</a>
          {% else %}
            <span class="nav__link">About</span>
          {% endif %}
        </li>
      </ul>
      <div class="navbar__form js-navbar-form" id="js-navbar-form">
        <form action="https://www.google.com/search" method="get" class="form--inline">
          <input name="q" class="form__control form__control--sm" type="text" placeholder="Search" aria-label="Search" size="12">
          <input type="hidden" name="as_sitesearch" value="www.gyford.com">
          <button class="button button--sm button--secondary" type="submit">Go</button>
        </form>
      </div>
    </div> <!-- .navbar__inner -->
  </nav>

  <main id="content" class="grid">

    {% block content_heading %}
      <div class="grid__row pagehead">
        <header class="grid__col grid__col--full">
          <h1>{% block content_title %}{% endblock %}</h1>
        </header>
      </div>
    {% endblock %}

    {% block content_main %}
      <div class="grid__row{% if sidebar_position == 'right-alt' %} grid__row--alt{% endif %}">
        {% block content_column %}
          <div class="grid__col grid__col--main {% if sidebar_position == 'left' %} grid__col--last{% elif sidebar_position == 'none' %} grid__col--main--only{% endif %}">
            {% block content %}
            {% endblock content %}
          </div> <!-- .grid__col -->
        {% endblock content_column %}
        {% block sidebar_column %}
          <div class="grid__col grid__col--sub{% if sidebar_position == 'left' %} grid__col--first{% endif %}">
            {% block sidebar %}
              {% block sidebar_nav %}
              {% endblock sidebar_nav %}
              {% block sidebar_content %}
              {% endblock sidebar_content %}
            {% endblock sidebar %}
          </div> <!-- .grid__col -->
        {% endblock sidebar_column %}
      </div>
    {% endblock content_main %}
  </main>

  <footer class="grid">
    <div class="grid__row">
      <div class="grid__col grid__col--full">
        <hr class="hr--lg">
        <div class="grid">
          <div class="grid__row">
            <div class="grid__col grid__col--half">
              <aside class="card card--no-border">
                <h1 class="card__header">RSS feeds</h1>
                <ul class="list-unstyled">
                  <li>
                    <a href="{% url 'hines:everything_feed_rss' %}">Everything below combined</a>
                  </li>
                  {% with all_blogs|get_item:'writing' as b %}
                    <li>
                      <a href="{{ b.get_rss_feed_url }}">{{ b.short_name }}</a>
                    </li>
                  {% endwith %}

                  <li>
                    <a href="http://www.flickr.com/services/feeds/photos_public.gne?id=35034346050@N01&format=rss_200">Photos at Flickr</a>
                  </li>
                  <li>
                    <a href="http://feeds.pinboard.in/rss/u:philgyford/">Links at Pinboard</a>
                  </li>
                  {% with all_blogs|get_item:'comments' as b %}
                    <li>
                      <a href="{{ b.get_rss_feed_url }}">{{ b.name }}</a>
                    </li>
                  {% endwith %}
                </ul>
              </aside>
            </div>
            <div class="grid__col grid__col--half">
              <aside class="card card--no-border">
                <div class="card__body">
                  <ul class="h-card">
                    <li class="list__item--unstyled">&copy; 1995-{% now "Y" %} <span class="p-name">{{ author_name }}</span><li>
                    <li>Email: <a rel="me" class="u-email" href="mailto:{{ author_email }}">{{ author_email }}</a><li>
                    <li>Twitter: <a rel="me" href="https://twitter.com/philgyford">@philgyford</a></li>
                    <li>Mastodon: <a rel="me" href="https://mastodon.social/@philgyford">@philgyford@mastodon.social</a></li>
                  </ul>
                </div>
              </aside>
              <aside class="card card--no-border">
                <div class="card__body">
                  <p>
                    All times are <abbr title="Coordinated Universal Time">UTC</abbr>.
                  </p>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock body %}

{% block body_extra %}
  <script>
    domready(function() {
      var navbar = hines.navbar();
      navbar.init();
    });
  </script>

  {% include 'hines_core/includes/analytics.html' %}
{% endblock body_extra %}
