{% extends 'spectator_events/event_list.html' %}
{% load hines_core %}

{% block sidebar_nav %}

  <aside class="card">
    <div class="card__body">
      <p>Movies, plays, exhibitions etc. that I’ve <span class="u-nowrap">been to.</span></p>
    </div>
  </aside>

  {{ block.super }}
{% endblock sidebar_nav %}


{% block sidebar_content %}

  {% if event_kind is None %}
    {% most_seen_directors_card num=10 %}
  {% elif event_kind == 'cinema' %}
    {% most_seen_directors_card num=30 %}
  {% endif %}

  {{ block.super }}

{% endblock %}
