{% extends "base_weblog.html" %}

{% block title %}Archive ({{ block.super}}){% endblock %}

{% block content_title %}{{ blog.short_name }} archive{% endblock %}


{% block content %}


    {% for year in years %}
        <h2><a href="{% url weblog_entry_archive_year blog.slug year.0|date:'Y' %}" title="See {{ blog.short_name }} posts from {{ year.0|date:'Y' }}">{{ year.0|date:'Y' }}</a></h2>
        <ol>
        {% for month in year %}
            <li><a href="{% url weblog_entry_archive_month blog.slug year.0|date:'Y' month|date:'m' %}" title="See {{ blog.short_name }} posts from {{ month|date:'M' }} {{ year.0|date:'Y' }}">{{ month|date:'M' }}</a></li>
        {% endfor %}
        </ol>
    {% empty %}
        <p>No archives available.</p>
    {% endfor %}

{% endblock content %}
