{% extends "base_weblog.html" %}

{% block title %}{{ year }} ({{ block.super}}){% endblock %}

{% block content_title %}{{ year }} in {{ blog.short_name }}{% endblock %}


{% block content %}

    {% for entry in entry_list reversed %}
        {% include 'includes/entry_brief.html' %}
    {% empty %}
        <p>No entries in {{ year }}.</p>
    {% endfor %}

{% endblock content %}



{% block sidebar %}

    <div class="block">
        <p>
            {% if previous_year_correct %}
                <a href="{% url weblog_entry_archive_year blog.slug previous_year_correct|date:'Y' %}" title="{{ previous_year_correct|date:'Y' }}">&larr; Older</a>
            {% else %}
                &larr; Older
            {% endif %}
            |
            {% if next_year_correct %}
                <a href="{% url weblog_entry_archive_year blog.slug next_year_correct|date:'Y' %}" title="{{ next_year_correct|date:'Y' }}">Newer &rarr;</a>
            {% else %}
                Newer &rarr;
            {% endif %}
        </p>

{% endblock sidebar %}