{% extends "base_weblog.html" %}

{% block relnav %}
    {% if entry.get_previous_published %}
        <link rel="prev bookmark" href="{{ entry.get_previous_published.get_absolute_url }}" title="{{ entry.get_previous_published.title }}" />
    {% endif %}
    {% if entry.get_next_published %}
        <link rel="next bookmark" href="{{ entry.get_next_published.get_absolute_url }}" title="{{ entry.get_next_published.title }}" />
    {% endif %}
{% endblock relnav %}

{% block title %}{{ entry.title }} ({{ block.super }}){% endblock %}

{% block content_title %}{{ entry.title }}{% endblock %}


{% block content %}

    {{ entry.body_html|safe }}

    {% if entry.body_more_html %}
        {{ entry.body_more_html|safe }}
    {% endif %}
    
    {% if entry.tags.all %}
        <h2>Tags</h2>
        <ul class="tags">
        {% for tag in entry.tags.all %}
            <li><a href="{% url weblog_tag entry.blog.slug tag.slug %}" title="See more entries tagged with '{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}


    {% load comments %}
    {% load customcomments_tags %}
    {% load markup %}
    
    {% get_comment_list for entry as comment_list %}
    
    {% if comment_list %}
        <h2>{% if entry.num_comments == 0 %}Comment{% else %}{{ entry.num_comments }} comment{{ entry.num_comments|pluralize }}{% endif %}</h2>
        <div id="comments">
        {% for comment in comment_list %}
            <div id="c{{ comment.id }}"{% if comment.user_id %} class="loggedin"{% endif %}>
                {% show_gravatar comment.user_email 48 %}
                <p>On {{ comment.submit_date|date:date_format_short }} <a href="{{ comment.content_object.get_absolute_url }}#c{{ comment.id }}">{{ comment.submit_date|date:time_format }}</a> {% if comment.url %}<a href="{{ comment.url }}">{{ comment.name }}</a>{% else %}{{ comment.name }}{% endif %} said:</p>
        
                {% load customcomments_tags %}
                {{ comment.comment|sanitize|linkifytrunc:50|autop }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    
    <h2>{% if comment_list %}Add a comment{% else %}Be first to comment{% endif %}</h2>
    
    {% render_comment_form for entry %}

{% endblock content %}


{% block sidebar %}
    <div class="block">
        <p>
            {% if entry.get_previous_published %}
                <a href="{{ entry.get_previous_published.get_absolute_url }}" title="{{ entry.get_previous_published.title }}">&larr; Older</a>
            {% else %}
                &larr; Older
            {% endif %}
            |
            {% if entry.get_next_published %}
                <a href="{{ entry.get_next_published.get_absolute_url }}" title="{{ entry.get_next_published.title }}">Newer &rarr;</a>
            {% else %}
                Newer &rarr;
            {% endif %}
        </p>
        <p>{{ entry.published_date|date:date_format_long }}, {{ entry.published_date|date:time_format }}
            {% if entry.published_date != entry.last_edited_date %}
                <br />Last edited: {{ entry.last_edited_date|date:date_format_long }}, {{ entry.last_edited_date|date:time_format }} 
            {% endif %}
        </p>
    </div>
    {% for other_blog in other_blogs %}
        {% if other_blog.entries %}
            <div class="block">
            {% load aggregator_tags %}
            <h2>{{ other_blog.short_name }} for {% linked_date entry.published_date date_format_short_strf %}</h2>

            {% for entry in other_blog.entries reversed %}
                {% include 'includes/entry_sidebar.html' %}
            {% endfor %}
            </div>
        {% endif %}
    {% endfor %}


	{% include 'books/includes/block_publications_day.html' %}

{% endblock sidebar %}
