{% extends "base_weblog.html" %}

{% block title %}{{ month|date:date_format_month }} ({{ block.super}}){% endblock %}

{% block content_title %}{{ month|date:date_format_month }} in {{ blog.short_name }}{% endblock %}


{% block content %}

    {% for entry in entry_list reversed %}
        {% include 'includes/entry_brief.html' %}
    {% empty %}
        <p>No entries.</p>
    {% endfor %}

{% endblock content %}


{% block sidebar %}

    <div class="block">
        <p>
            {% if previous_month_correct %}
                <a href="{% url weblog_entry_archive_month blog.slug previous_month_correct|date:'Y' previous_month_correct|date:'m' %}" title="{{ previous_month_correct|date:date_format_month }}">&larr; Older</a>
            {% else %}
                &larr; Older
            {% endif %}
            |
            {% if next_month_correct %}
                <a href="{% url weblog_entry_archive_month blog.slug next_month_correct|date:'Y' next_month_correct|date:'m' %}" title="{{ next_month_correct|date:date_format_month }}">Newer &rarr;</a>
            {% else %}
                Newer &rarr;
            {% endif %}
        </p>

{% endblock sidebar %}