{% extends "base_weblog.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content_title %}{{ blog.name }}{% endblock %}


{% block content %}

    {% for entry in entries.object_list %}
        {% include 'includes/entry_brief.html' %}
        
    {% empty %}
        <p>No entries.</p>
    {% endfor %}
    
    <div class="pagination">
        {% if entries.has_next %}
            <a href="?page={{ entries.next_page_number }}">Older</a>
        {% else %}
            Older
        {% endif %}

        Page {{ entries.number }} of {{ entries.paginator.num_pages }}

        {% if entries.has_previous %}
            <a href="?page={{ entries.previous_page_number }}">Newer</a>
        {% else %}
            Newer
        {% endif %}
    </div>
    
    {% load customcomments_tags %}
    {% get_latest_blog_comments blog.pk 5 as latest_comments %}
    {% if latest_comments %}
        <h2>Latest comments on {{ blog.short_name }}</h2>
        <ul class="comments">
        {% for comment in latest_comments %}
            <li><strong>{{ comment.user_name }}</strong> on {{ comment.submit_date|date:date_format_short }}<br />
                <a href="{{ comment.get_absolute_url }}">{{ comment.content_object.title }}</a><br />
                {{ comment.comment|striptags|truncatewords:20 }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}


{% endblock content %}


{% block sidebar %}

    {% if featured_entries %}
    <div class="block">
        <h2>Featured {{ blog.short_name }}</h2>
        {% for entry in featured_entries %}
            {% include 'includes/entry_sidebar.html' %}
        {% endfor %}
    </div>
    {% endif %}

    {% if popular_tags %}
    <div class="block">
        <h2>Popular tags</h2>
        <ol class="tags">
        {% for tag in popular_tags %}
            <li><a href="{% url weblog_tag blog.slug tag.slug %}" title="See more entries tagged with {{ tag }}">{{ tag }}</a> <span class="count">({{ tag.num_times }})</span></li>
        {% endfor %}
        </ol>
    </div>
    {% endif %}
    
{% endblock sidebar %}