{% comment %}
  If comments aren't allowed on a Post, then display a message explaining why.
  If comments ARE allowed, display nothing.

  Expects:
  * post - The Post
  * settings - With `comments_allowed` (boolean) and
              `comments_close_after_days` (integer) properties.
{% endcomment %}

{% if not settings.comments_allowed %}
  <p>Commenting is turned off.</p>
{% elif not post.blog.allow_comments %}
  <p>Commenting is turned off on this blog.</p>
{% elif not post.allow_comments %}
  <p>Commenting is turned off for this post.</p>
{% elif not post.comments_are_open %}
  <p>Commenting is disabled on posts once they’re {{ settings.comments_close_after_days }} day{{ settings.comments_close_after_days|pluralize }} old.</p>
{% elif not post.comments_allowed %}
  {# The above should catch all reasons why comments might be disabled, but just in case... #}
  <p>Commenting is currently turned off.</p>
{% endif %}