{% extends "base_books.html" %}

{% block title %}Reading in {{ year }} ({{ block.super }}){% endblock %}

{% block content_title %}Reading in {{ year }}{% endblock %}

{% block content %}

	{% if publication_list %}
		{% load books_tags %}
		{% for publication in publication_list %}
		{% ifchanged %}
			{% if not forloop.first %}
			</ul>
			{% endif %}
			<h2>{{ publication.end_date|date:"F" }}</h2>
			<ul class="publications">
		{% endifchanged %}
			<li>{% linked_publication publication %}</li>
		{% endfor %}
			</ul>
	{% endif %}

{% endblock content %}


{% block sidebar %}

	{% include 'books/includes/block_reading_years.html' %}

{% endblock sidebar %}

