{% extends 'spectator_core/creator_list.html' %}
{% load hines_core spectator_core %}

{% comment %}
Differences between this and the standard creator_list.html:
* The .nav block is pretty different.
* The list of creators is currently identical.
* Sidebar additions
{% endcomment %}

{% block content %}

  {% if individual_count > 0 and group_count > 0 %}
    <ul class="nav">
      {% if individual_count > 0 %}
        <li class="nav__item nav__item--split{% if creator_kind == 'individual' %} is-active{% endif %}">
          {% if creator_kind == 'indidivual' and page_obj.number == 1 %}
            <span class="nav__link">People ({{ individual_count }})</span>
          {% else %}
            <a class="nav__link" href="{% url 'spectator:creators:creator_list' %}">
                People ({{ individual_count }})
            </a>
          {% endif %}
        </li>
      {% endif %}
      {% if group_count > 0 %}
        <li class="nav__item nav__item--split{% if creator_kind == 'group' %} is-active{% endif %}">
          {% if creator_kind == 'group' and page_obj.number == 1 %}
            <span class="nav__link">People ({{ group_count }})</span>
          {% else %}
            <a class="nav__link" href="{% url 'spectator:creators:creator_list_group' %}">
                Groups ({{ group_count }})
            </a>
          {% endif %}
        </li>
      {% endif %}
    </ul>
  {% endif %}

  {% if creator_list|length > 0 %}

    {% if page_obj|default:False and page_obj.number > 1 %}
      {% include 'spectator_core/includes/pagination.html' with page_obj=page_obj only %}
    {% endif %}

    <ul>
      {% for creator in creator_list %}
        <li>
          <a href="{{ creator.get_absolute_url }}">
            {{ creator.name }}
          </a>
        </li>
      {% endfor %}
    </ul>

    {% include 'spectator_core/includes/pagination.html' with page_obj=page_obj only %}

  {% else %}

    <p>There are no {% if creator_kind == 'group' %}groups{% else %}people{% endif %} to display.</p>

  {% endif %}
{% endblock content %}


{% block sidebar_nav %}
  <aside class="card">
    <div class="card__body">
      <p>People and organisations who have written things I’ve read, or directed films and plays I’ve seen, or performed at gigs I’ve been <span class="utils-nowrap">to, etc.</span></p>
    </div>
  </aside>

  {{ block.super }}
{% endblock sidebar_nav %}

{% block sidebar_content %}

  {% most_read_creators_card num=10 %}

  {% most_seen_directors_card num=20 %}

  {{ block.super }}

{% endblock sidebar_content %}
