{% extends 'sets/200603/weblogs/base.html' %}
{% load static %}
{% block start_html %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
{% endblock start_html %}

{% block head_title %}{{ post.title }} (Phil Gyford: {{ blog.short_name }}){% endblock head_title %}

{% block css %}
	<link rel="stylesheet" href="{% static 'hines/sets/200608/phil/style/default/global.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'hines/sets/200608/phil/style/default/1/skin.css' %}" type="text/css">
{% endblock css %}

{% block head_extra %}
    <link rel="start" href="{% url 'home' %}" title="Home"/>
    <link rel="index" href="{% url 'weblogs:blog_archive' blog_slug=blog.slug %}" title="Phil Gyford's {{ blog.short_name }} Archive"/>

    <link href="{% url 'hines:everything_feed_rss' %}" rel="alternate" title="Writing, links, comments and photos combined" type="application/rss+xml"/>
    <link href="{% url 'weblogs:blog_feed_posts_rss' blog_slug='writing' %}" rel="alternate" title="Writing only" type="application/rss+xml"/>
    <link href="http://www.flickr.com/services/feeds/photos_public.gne?id=35034346050@N01&amp;format=rss_200" rel="alternate" title="Photos only (at Flickr)" type="application/rss+xml"/>
    <link href="http://feeds.pinboard.in/rss/u:philgyford/" rel="alternate" title="Links only (at Pinboard)" type="application/rss+xml" />
    <link href="{% url 'weblogs:blog_feed_posts_rss' blog_slug='comments' %}" rel="alternate" title="Comments written on other sites only" type="application/rss+xml"/>
{% endblock head_extra %}

{% block start_body %}
	<div id="wrapper-head">
	<div id="container-head">
{% endblock start_body %}

{% block nav %}
		<span id="sitetitle"><a href="{% url 'home' %}" title="To the front page of the site">Phil Gyford&#8217;s website</a></span>

        <ul id="mainnav">
			<li class="nav-1 first"><a href="{% url 'home' %}" title="The front page of the site">Home</a></li>

			<li class="nav-2 on"><a href="{% url 'weblogs:blog_detail' blog_slug='writing' %}" title="Things that I've written">Writing</a></li>

			<li class="nav-3"><a href="{% url 'photos:home' %}" title="Recent photos">Photos</a></li>

			<li class="nav-4"><a href="{% url 'pinboard:home' %}" title="Links to interesting stuff elsewhere">Links</a></li>

			<li class="nav-5 split-after"><a href="{% url 'weblogs:blog_detail' blog_slug='comments' %}" title="Comments written on other sites">Comments</a></li>

			<li class="nav-6 split-before"><a href="{% url 'spectator:reading:home' %}" title="Books and magazines read">Reading</a></li>

			<li class="nav-7"><a href="#" title="More odds and ends">More&#8230;</a></li>

			<li class="nav-8 last"><a href="{% url 'hines:about' %}" title="More about who I am and what I've done">About me</a></li>
        </ul> <!-- #mainnav -->
{% endblock nav %}

{% block start_body_content %}
	</div> <!-- #container-head -->
	<div class="clear"></div>
	</div> <!-- #wrapper-head -->

	<div id="wrapper-body">
	<div id="container-body">
{% endblock start_body_content %}

{% block comment_form %}
	{% comment %}
		<div class="comments-open" id="comments-open">
            <div class="clear"></div>
            <h2 class="comments-open-header" id="_login">Post a comment</h2>

            <div class="comments-open-content">

                <p id="comment-greeting"></p>

                <form method="post" action="http://web.archive.org/web/20090201061733/http://www.gyford.com/cgi-bin/mt/mt-comments.cgi#preview-comment" name="comments_form" id="comments-form" onsubmit="return mtCommentOnSubmit(this)">

                    <input type="hidden" name="static" value="1"/>
                    <input type="hidden" name="entry_id" value="9620"/>
                    <input type="hidden" name="__lang" value="en"/>
                    <input type="hidden" name="parent_id" value="" id="comment-parent-id"/>
                    <input type="hidden" name="armor" value="1"/>
                    <input type="hidden" name="preview" value=""/>
                    <input type="hidden" name="sid" value=""/>

                    <div id="comments-open-data">
                        <p id="comment-form-name" class="row">
                            <span class="label"><label for="comment-author">Your name:</label></span><span class="formfield"><input type="text" class="text" name="author" id="comment-author" value="" onfocus="mtCommentFormOnFocus()"/> <small>(required)</small></span>
                        </p>

                        <p id="comment-form-email" class="row">
                            <span class="label"><label for="comment-email">Email address:</label></span><span class="formfield"><input type="text" class="text" name="email" id="comment-email" value="" onfocus="mtCommentFormOnFocus()"/> <small>(required)</small></span>
                        </p>

                        <p id="comment-form-url" class="row">
                            <span class="label"><label for="comment-url">Your URL:</label></span><span class="formfield"><input type="text" class="text" name="url" id="comment-url" value="" onfocus="mtCommentFormOnFocus()"/> <small>(optional)</small></span>
                        </p>


                        <p id="comment-form-remember-me" class="row">
                            <span class="label"><label for="comment-bake-cookie">Remember your info?</label></span><span class="formfield"><input type="checkbox" id="comment-bake-cookie" name="bakecookie" onclick="mtRememberMeOnClick(this)" value="1" accesskey="r"/></span>
                        </p>

                    </div>
                    <p id="comments-open-text" class="textarea">
                        <label for="comment-text" class="hide">Comment:<br/></label>
                        <textarea name="text" id="comment-text" rows="10" cols="40" onfocus="mtCommentFormOnFocus()"></textarea><br/><small>Allowed tags: a href, blockquote, strong, em, ul, ol, li, p, br/, pre.<br/>
                        URLs will be turned into links.</small></span>
                    </p>
                    <div id="comments-open-captcha"></div>
                    <p class="right" id="comments-open-footer">

                        <input type="submit" accesskey="v" name="preview_button" id="comment-preview" value="Preview" onclick="this.form.preview.value='1';"/>
                        <input type="submit" accesskey="s" name="post" id="comment-submit" value="Publish"/>
                    </p>
                </form>
            </div> <!-- .comments-open-content -->

        </div> <!-- .comments-open#comments-open -->
	{% endcomment %}
{% endblock comment_form %}

{% block end_body_content %}
		<div class="clear"></div>
	</div> <!-- #container-body -->
	</div> <!-- #wrapper-body -->

	<div id="wrapper-foot">
	<div id="container-foot">
{% endblock end_body_content %}

    <div id="footer">
        <p>&copy; 1995-2009 Phil Gyford. &nbsp;
        Email: <strong>phil</strong> [at] <strong>gyford</strong> [dot] <strong>com</strong></p>
    </div>

{% block end_body %}
	</div> <!-- #container-foot -->
	</div> <!-- #wrapper-foot -->
{% endblock end_body %}

