{% comment %}
Displays a card containing a chart of Last.fm scrobbles.
We're assuming we only have one account at the moment.

Expects:
* card_title - Title of the card.
* scrobble_list - A QuerySet of Artists.
* more - Either None or a dict of 'url' and 'text' for a link at the bottom.
{% endcomment %}

{% if scrobble_list|length > 0 %}
  <aside class="card">
    <h2 class="card__header">{{ card_title }}</h2>

    <ol class="card__body">
      {% for scrobble in scrobble_list %}
        <li>
          {% ifchanged scrobble.artist.name %}
            <a href="{{ scrobble.artist.permalink }}">{{ scrobble.artist.name }}</a>
          {% else %}
            &nbsp;〃
          {% endifchanged %}
          - <a href="{{ scrobble.track.permalink}}"><cite>{{ scrobble.track.name }}</cite></a>
        </li>
      {% endfor %}
    </ol>

    {% if more %}
      <p>
        <a href="{{ more.url }}">{{ more.text }}</a>
      </p>
    {% endif %}
  </aside>
{% endif %}
