{% comment %}
Displays a card containing a chart of Last.fm artists.
We're assuming we only have one account at the moment.

Expects:
* card_title - Title of the card.
* artist_list - A QuerySet of Artists.
* more - Either None or a dict of 'url' and 'text' for a link at the bottom.
{% endcomment %}

{% if artist_list|length > 0 %}
  <aside class="card">
    <h2 class="card__header">{{ card_title }}</h2>

    <ol class="card__body">
      {% for artist in artist_list %}
        <li>
          <a href="{{ artist.permalink }}">{{ artist.name }}</a> ({{ artist.scrobble_count }})
        </li>
      {% endfor %}
    </ol>

    {% if more %}
      <p>
        <a href="{{ more.url }}">{{ more.text }}</a>
      </p>
    {% endif %}
  </aside>
{% endif %}



