{% comment %}
Display Older / Newer links to objects' pages.

Expects (both optional):

* previous - An object with `get_absolute_url` and `title` properties.
* next - As previous.

{% endcomment %}

{% if previous or next %}
  <nav>
    <ul class="list--inline list--unstyled">
      {% spaceless %}
        {% if previous %}
          <li>
            <a class="nextprev" href="{{ previous.get_absolute_url }}" title="{{ previous.title }}"><span aria-hidden="true">&larr;</span>&nbsp;<span class="nextprev__inner">Older</span></a>
          </li>
        {% endif %}
        {% if next %}
          <li {% if previous %} class="list--inline__item--bullet"{% endif %}>
            <a class="nextprev" href="{{ next.get_absolute_url }}" title="{{ next.title }}"><span class="nextprev__inner">Newer</span>&nbsp;<span aria-hidden="true">&rarr;</span></a>
          </li>
        {% endif %}
      {% endspaceless %}
    </ul>
  </nav>
{% endif %}
