{% comment %}
Display Older / Newer links to objects' pages.

Expects (both optional):

* previous - An object with `get_absolute_url` and `title` properties.
* next - As previous.

{% endcomment %}

{% if previous or next %}
  <nav>
    <ul class="list--inline">
      {% spaceless %}
        {% if previous %}
          <li class="list--inline__item">
            <a class="a--special" href="{{ previous.get_absolute_url }}" title="{{ previous.title }}"><span aria-hidden="true">&larr;</span>&nbsp;<span class="a__inner">Older</span></a>
          </li>
        {% endif %}
        {% if next %}
          <li class="list--inline__item{% if previous %} u-bullet{% endif %}">
            <a class="a--special" href="{{ next.get_absolute_url }}" title="{{ next.title }}"><span class="a__inner">Newer</span>&nbsp;<span aria-hidden="true">&rarr;</a>
          </li>
        {% endif %}
      {% endspaceless %}
    </ul>
  </nav>
{% endif %}

