{% comment %}

Expects:
 * page_obj, a DiggPaginator instance.
{% endcomment %}


{% if page_obj.paginator.num_pages > 1 %}
  {% load ditto_core %}
  <nav>
    <ul class="nav nav--pagination">
      {% if page_obj.has_previous %}
        <li class="nav__item">
          <a class="nav__link a--special" href="?{% query_string 'p' page_obj.previous_page_number %}">
            <span aria-hidden="true">&larr;</span>
            <span class="a__inner">Previous&nbsp;page</span>
          </a>
        </li>
      {% endif %}

      {% for p in page_obj.page_range %}
        {% if not p %}
          <li class="nav__item is-disabled">
            <span class="nav__link">
              <span aria-hidden="true">…</span>
              <span class="u-sr-only">(more pages)</span>
            </span>
          </li>
        {% elif p == page_obj.number %}
          <li class="nav__item is-active">
            <span class="nav__link">{{ p }} <span class="u-sr-only">(current)</span></span>
          </li>
        {% else %}
          <li class="nav__item">
            <a class="nav__link" href="?{% query_string 'p' p %}">{{ p }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="nav__item">
          <a class="nav__link a--special" href="?{% query_string 'p' page_obj.next_page_number %}">
            <span class="a__inner">Next&nbsp;page</span>
            <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

