{% comment %}

Display a list of Photos, optionally paginated.
A simplified version of ditto/flickr/templates/flickr/includes/photo_columns.html

Expects:
 * photo_list, a queryset of Photos.
 * page_obj - Optional, a DiggPaginator instance or False (default).
 * order - Either 'uploaded' (default) or 'taken'.
 * perms - The Django perms object.

{% endcomment %}

{% if photo_list|length > 0 %}
  {% load hines_core %}

  {% if page_obj|default:False and page_obj.number > 1 %}
    {% include 'hines_core/includes/pagination.html' with page_obj=page_obj only %}
  {% endif %}

  <ol class="gallery gallery--3">
    {% for photo in photo_list %}
      <li class="gallery__item">
        <h3 class="gallery__item__header">
          <a href="{{ photo.permalink }}" title="See this image on Flickr">{{ photo.title }}</a>
        </h3>
        <div class="gallery__item__img">
          <a href="{{ photo.permalink }}" title="See this image on Flickr">
            <img src="{{ photo.small_url }}" width="{{ photo.small_width }}" height="{{ photo.small_height }}" alt="" class="img-fluid">
          </a>
        </div>
        <div class="meta">
          <ul class="meta__inner">
            <li>
              {% if order == 'taken' %}
                {% if view == 'day' %}
                  {% display_time photo.taken_time show='date' link_to_day=False granularity=photo.taken_granularity %}
                {% else %}
                  {% display_time photo.taken_time show='date' link_to_day=True granularity=photo.taken_granularity %}
                {% endif %}
              {% else %}
                {% if view == 'day' %}
                  {% display_time photo.post_time show='date' link_to_day=False granularity=photo.taken_granularity %}
                {% else %}
                  {% display_time photo.post_time show='date' link_to_day=True granularity=photo.taken_granularity %}
                {% endif %}
              {% endif %}
            </li>
            {% if perms.flickr.can_change_photo %}
              <li><a class="u-admin" href="{% url 'admin:flickr_photo_change' photo.id %}" title="Edit this Photo in the Django Admin">Edit</a></li>
            {% endif %}
          </ul>
        </div>
      </li> <!-- .gallery__item -->
    {% endfor %}
  </ol> <!-- .gallery-photos -->

  {% if page_obj|default:False %}
    {% include 'hines_core/includes/pagination.html' with page_obj=page_obj only %}
  {% endif %}

{% else %}
  <p>There are no photos to show.</p>
{% endif %}

