{% comment %}

Expects:

* tag_list - The list of tags.
* format - 'inline' or 'chart'.
           Inline will put it all within <li class="utils-inline-container"></li>
* tag_type - 'bookmark' (Default) or 'post'.

Optional:

* blog_slug - If tag_type=='post', the slug of the Post's blog.

{% endcomment %}

{% load l10n %}

{% if tag_list|length > 0 %}
  {% if format == 'inline' %}
    <li class="utils-inline-container">
  {% endif %}
    {% spaceless %}
      {% if format == 'inline' %}
        <h2>Tags</h2>
      {% endif %}
      <ol{% if format == 'inline' %} class="list--inline list--unstyled"{% endif %}>
        {% for tag in tag_list %}
          <li>
            <a class="p-category" href="{% if tag_type == 'post' %}
              {% url 'weblogs:blog_tag_detail' blog_slug=blog_slug tag_slug=tag.slug %}
            {% else %}
              {% url 'pinboard:tag_detail' slug=tag.slug %}
            {% endif %}" title="More tagged with {{ tag.name }}">{{ tag.name }}</a>
            {% if format == 'chart' %}
              {% if tag_type == 'post' %}
                ({{ tag.post_count|localize }})
              {% else %}
                ({{ tag.num_times|localize }})
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    {% endspaceless %}
  {% if format == 'inline' %}
    </li>
  {% endif %}
{% endif %}
