{% comment %}
A list of a Tweet's Media objects (ie, photo, GIF or video).

A slightly altered version of Ditto's twitter/includes/media.html template.
Beacuse:
  * We use different HTML/CSS
  * We don't currently have different 'view's.
  * We don't want to use tweet.get_absolute_url().

Expects:

 * tweet, the Tweet object.

{% endcomment %}

{% if tweet.media_count > 0 %}
  {% load l10n %}

  {% with media_list=tweet.media.all %}
    {% if media_list|length == 1 and media_list.0.media_type != 'photo' %}
      <video class="video-fluid" width="{{ media_list.0.small_w|unlocalize }}" height="{{ media_list.0.small_h|unlocalize }}" poster="{{ media_list.0.large_url }}" controls preload="none">
        <source src="{{ media_list.0.video_url }}" type="{{ media_list.0.video_mime_type }}">
      </video>
    {% else %}
      <ol class="gallery{% if media_list|length >= 4 %} gallery--4{% elif media_list|length == 3 %} gallery--3{% endif %}">
        {% for media in media_list %}
          <li class="gallery__item">
            <div class="gallery__item__img">
              <a href="{{ tweet.permalink }}" title="See this tweet on Twitter"><img src="{{ media.small_url }}" width="{{ media.small_w|unlocalize }}" height="{{ media.small_h|unlocalize }}" alt="Photo thumbnail"></a>
            </div>
          </li>
        {% endfor %}
      </ol>
    {% endif %}
  {% endwith %}
{% endif %}
