{% spaceless %}
{% if obj.kind == 'blog_post' %}
  <p><em>From <a href="{{ site_url }}{{ obj.object.blog.get_absolute_url }}">{{ obj.object.blog.name }}</a>.</em></p>

	{{ obj.object.intro_html|safe }}
  {% if obj.object.body_html %}
    {{ obj.object.body_html|safe }}
  {% endif %}

  {% if obj.object.remote_url %}
    <p><a href="{{ site_url }}{{ obj.object.get_absolute_url }}">Permalink</a></p>
  {% endif %}

  {% if obj.object.comments_allowed %}
    <p><a href="{{ site_url }}{{obj.object.get_absolute_url }}#comments">Read comments or post one</a></p>
  {% endif %}

{% elif obj.kind == 'pinboard_bookmark' %}
  <p>{{ obj.object.description|safe }}</p>
  <p><a href="{{ site_url }}{{ obj.object.get_absolute_url }}">Permalink</a></p>

{% elif obj.kind == 'flickr_photos' %}
	<table border="0" cellspacing="10">
		<tbody>
			{% for photo in obj.objects %}
				<tr>
					<td valign="top" style="vertical-align: top;" align="center" width="100">
						<a href="{{ photo.permalink }}" title="See the photo on Flickr">
							<img src="{{ photo.small_url }}" width="{{ photo.small_width }}" height="{{ photo.small_height }}" border="0" alt="{{ photo.title }}">
						</a>
					</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td valign="top" style="vertical-align: top;">
						<p>
							<strong><a href="{{ photo.permalink }}" title="See the photo on Flickr">{{ photo.title }}</a></strong>
							{% if photo.description %}
								<br>
								{{ photo.description|safe }}
							{% endif %}
						</p>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endspaceless %}
