{% extends "comments/base.html" %}
{# Overriding the default django-comments delete.html template, so it looks better on our site. #}
{% load i18n %}

{% block title %}{% trans "Remove a comment" %}{% endblock %}

{% block content %}
  <section>
    <header class="pagehead">
      <h1>{% trans "Really remove this comment?" %}</h1>
    </header>

    <div class="media-list">
      {% include "comments/comment.html" with comment=comment wrapper_element="div" %}
    </div>

    <form action="." method="post">
      {% csrf_token %}
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" id="next">
      {% endif %}
      <p class="form__buttons">
        <button type="submit" name="submit" class="button button--primary">{% trans "Remove" %}</button>
        &nbsp; or &nbsp; <a href="{{ comment.get_absolute_url }}">Cancel</a>
      </p>
    </form>
  </section>
{% endblock %}
