{% comment %}
Could have this passed in:

* is_preview - Boolean, default false. Whether this is used in a preview of a
  draft/scheduled post (as opposed to a published post).
{% endcomment %}

{% load comments %}

<form action="{% comment_form_target %}" method="post">
  {% csrf_token %}

  {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
  {% else %}
    <input type="hidden" name="next" value="{{ object.get_absolute_url }}#latest" />
  {% endif %}

  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}

      <div class="form__group{% if field.errors %} has-danger{% endif %}"{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {% if field.html_name != "hcaptcha" %}
          <label for="{{ field.id_for_label }}">
            {{ field.label }}
            {% if field.html_name == 'url' %}
              (optional)
            {% endif %}
          </label>
        {% endif %}

        {% if field.html_name == 'comment' %}
          <textarea class="form__control{% if field.errors %} is-invalid{% endif %}" id="{{ field.id_for_label }}" name="{{ field.html_name }}"{% if field.help_text %} aria-describedby="{{ field.id_for_label }}_help"{% endif %} rows="10"{% for name, value in field.field.widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>{{ field.value|default_if_none:"" }}</textarea>
        {% elif field.html_name == "hcaptcha" %}
          {{ field }}
        {% else %}
          <input type="{{ field.field.widget.input_type }}" class="form__control{% if field.errors %} is-invalid{% endif %}" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:"" }}" name="{{ field.html_name }}"{% if field.help_text %} aria-describedby="{{ field.id_for_label }}_help"{% endif %}{% for name, value in field.field.widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}{% if field.html_name == "honeypot" %} tabindex="-1"{% endif %}>
        {% endif %}

        {% if field.errors %}
          {% for error in field.errors %}
            <div class="form__text form__text--invalid">{{ error }}</div>
          {% endfor %}
        {% endif %}

        {% if field.help_text %}
          <div id="{{ field.id_for_label }}_help" class="form__text">{{ field.help_text|safe }}</div>
        {% endif %}

        {% if field.html_name == 'comment' %}
          {% load hines_comments %}
          {% allowed_tags as tags %}
          <div class="form__text">
            {% if tags|length == 0 %}
              No tags allowed in comments.
            {% else %}
              Allowed HTML tags: <code>{{ tags|join:"</code>, <code>" }}</code>.
            {% endif %}
            <br>
            URLs will be turned into links.
          </div>
        {% endif %}
      </div>

    {% endif %}
  {% endfor %}

  <p class="form__buttons">
    <button type="submit" name="post" class="button button--primary">Post comment</button>
  </p>

  {% comment %}
    {# Using the below means we initially show a "Preview comment" button, which leads
      to a page where there's a "Preview again" and "Post comment" button.
      But if we're using hCaptcha the user has to complete that on both of the forms,
      which is a real pain.

      *Maybe* it would be possible to override the django-contrib-comments template
      tag that calls get_form() so that it can return a form that has the hcaptcha
      field for the second (preview & post) form, but not for the first
      (preview only) form?

      But for now, let's stick with a simple single form and hCaptcha.
    #}
    <p class="form__buttons">
      {% if is_preview|default_if_none:False %}
        <button type="submit" name="preview" class="button button--primary">Preview again</button>
        {% if form.is_valid %}
          &nbsp;
          <button type="submit" name="post" class="button button--primary">Post comment</button>
        {% endif %}
      {% else %}
        <button type="submit" name="preview" class="button button--primary">Preview comment</button>
      {% endif %}
    </p>
  {% endcomment %}

</form>
