{% load hines_comments %}
{% load hines_core %}

{% if post.comment_count > 0 %}
	<section class="comments">
		<h2 class="mb-3">
			{{ post.comment_count }} comment{{ post.comment_count|pluralize }}
		</h2>

		<hr>

		{% for comment in comment_list %}
			<div class="row comment" id="c{{ comment.id }}">
				<div class="col-sm-3">
					<strong>
						{% if comment.user_url %}
							<a href="{{ comment.user_url }}" rel="nofollow">{{ comment.name }}</a>
						{% else %}
							{{ comment.name }}
						{% endif %}
					</strong><br>
					{% display_time comment.submit_date %}

					{% if perms.custom_comments.can_change_customcomment %}
						<br><a class="admin" href="{% url 'admin:custom_comments_customcomment_change' post.id %}" title="Edit this Comment in the Django Admin">Edit</a>
					{% endif %}
				</div>
				<div class="col-sm-9">
					{{ comment.comment|clean|safe|linebreaks }}
				</div>
			</div> <!-- .comment -->
			<hr>
		{% endfor %}
	</section> <!-- .comments -->
{% endif %}
