{% extends "comments/base.html" %}
{% load hines_comments hines_core i18n %}

{% block head_page_title %}Preview your comment{% endblock %}
{% block content_title %}Preview your comment{% endblock %}

{% block content %}


	{% if form.errors %}
		<p class="u-warning">
			{% blocktrans count counter=form.errors|length %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}.
		</p>
	{% else %}
    <hr>
    <article class="comment">
      <header>
        <h3 class="comment__title">
          {% if form.url.value %}
            <a href="{{ form.url.value }}" rel="nofollow">{{ form.name.value }}</a>
          {% else %}
            {{ form.name.value }}
          {% endif %}
        </h3>
          <p class="comment__about">
            AT {% display_time %}
          </p>
      </header>

      <div class="comment__body">
		    {{ comment|clean|safe|linebreaks }}
      </div>
    </article>
    <hr>
	{% endif %}


	{% include 'comments/form.html' with is_preview=True %}

{% endblock %}
