{% extends 'hines_core/layouts/sidebar_left.html' %}


{% block head_page_title %}Stats{% if current_page %}: {{ current_page.title }}{% endif %}{% endblock %}
{% block content_title %}Stats{% if current_page %}: {{ current_page.title }}{% endif %}{% endblock %}


{% block sidebar_nav %}

  <aside class="card">
    <h2 class="card__header">Pages</h2>
    <ul>
      {% for page in pages %}
        <li>
          {% if page.slug == current_page.slug %}
            {{ page.title }}
          {% else %}
            <a href="{% url 'stats:stats_detail' slug=page.slug %}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </aside>

{% endblock sidebar_nav %}


{% block body_extra %}

  {{ block.super }}

  <script src="/static/hines/js/vendor/d3.v5.min.js"></script>

{% endblock body_extra %}
