{% extends 'stats/base.html' %}

{% block content %}

music

<div class="chart js-chart-1"></div>

{% endblock content %}


{% block body_extra %}

  {{ block.super }}

  <script>
    domready(function() {

      var data = [
        {
          'label': '2001',
          'value': 30
        },
        {
          'label': '2002',
          'value': 40
        },
        {
          'label': '2003',
          'value': 20
        }
      ];

      chart = hines.chart().kind('bar');

      d3.select('.js-chart-1').datum(data).call(chart);

    });
  </script>

{% endblock body_extra %}
