{% extends 'hines_core/layouts/full_width.html' %}
{% load static %}

{% block about_nav_active %}is-active{% endblock %}

{% block head_page_title %}Stats{% if current_page %}: {{ current_page.title }}{% endif %}{% endblock %}
{% block content_title %}Stats{% if current_page %}: {{ current_page.title }}{% endif %}{% endblock %}


{% block content %}

  <ul class="nav">
    {% for page in pages %}
      <li class="nav__item nav__item--split{% if page.slug == current_page.slug %} is-active{% endif %}">
        {% if page.slug == current_page.slug %}
          <span class="nav__link">{{ page.title }}</span>
        {% else %}
          {% if page.slug == 'creating' %}
            <a class="nav__link" href="{% url 'stats:home' %}">{{ page.title }}</a>
          {% else %}
            <a class="nav__link" href="{% url 'stats:stats_detail' slug=page.slug %}">{{ page.title }}</a>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% for chart in charts %}
    {% with chart.name|cut:"_" as header_id %}
      <h2 id="{{ header_id }}">{{ chart.title }}</h2>
    {% endwith %}

    <figure class="figure figure--chart">
      <div class="chart js-chart-{{ chart.name }}"></div>

      {% if chart.description %}
        <figcaption class="chart-description">{{ chart.description|safe }}</figcaption>
      {% endif %}
    </figure>
  {% endfor %}

{% endblock content %}


{% block body_extra %}

  {{ block.super }}

  <script src="{% static 'hines/js/vendor/d3.v5.min.js' %}"></script>

  {# Outputs the chart data as JSON in <script> tags with the ID of chart.name #}
  {% for chart in charts %}
    {{ chart.data|json_script:chart.name }}
  {% endfor %}

  <script>
    domready(function() {

      var data;
      var chart;

      {% for chart in charts %}
        data = JSON.parse(document.getElementById('{{ chart.name}}').textContent);

        chart = hines.chart();

        d3.select('.js-chart-{{ chart.name }}').datum(data).call(chart);
      {% endfor %}

    });
  </script>

{% endblock body_extra %}
