{% extends 'hines_core/layouts/sidebar_left.html' %}
{% comment %}
  Expects:
    * pages - A list of slugs.
    * current_page - The page's slug, or None.
{% endcomment %}

{% block head_page_title %}Patterns{% if current_page %}: {{ current_page|title }}{% endif %}{% endblock %}
{% block content_title %}Patterns{% if current_page %}: {{ current_page|title }}{% endif %}{% endblock %}

{% block sidebar_nav %}

  <aside class="card">
    <h2 class="card__header">Pages</h2>
    <ul>
      {% for slug in pages %}
        <li>
          {% if slug == current_page %}
            {{ slug|title }}
          {% else %}
            <a href="{% url 'patterns:pattern_detail' slug=slug %}">{{ slug|title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </aside>

{% endblock sidebar_nav %}
