{% extends 'patterns/base.html' %}

{% load patterns_tags %}

{% block content %}


<h2>Standard</h2>

<p>A header and some paragraphs of text.</p>

<div>
  {% include 'patterns/includes/cards/standard.html' %}
</div>

<pre><code>{% verbatim_include 'patterns/includes/cards/standard.html' %}</pre></code>


<h2>Lists</h2>

<p>They can have lists instead of paragraphs. Heaaders are always optional.</p>

<div>
  {% include 'patterns/includes/cards/list_unordered.html' %}
</div>

<pre><code>{% verbatim_include 'patterns/includes/cards/list_unordered.html' %}</pre></code>

<div>
  {% include 'patterns/includes/cards/list_ordered.html' %}
</div>

<pre><code>{% verbatim_include 'patterns/includes/cards/list_ordered.html' %}</pre></code>


<h2>Inline list</h2>

<p>Lists can be inline and unstyled.</p>

<div>
  {% include 'patterns/includes/cards/list_inline.html' %}
</div>

<pre><code>{% verbatim_include 'patterns/includes/cards/list_inline.html' %}</pre></code>


<h2>Definition list</h2>

<div>
  {% include 'patterns/includes/cards/list_definition.html' %}
</div>

<pre><code>{% verbatim_include 'patterns/includes/cards/list_definition.html' %}</pre></code>


<h2>Card body</h2>

<p>Adding the <code>.card__body</code> class to any element will make it use small mixed-case text.</p>

<div>
  {% include 'patterns/includes/cards/list_unordered_body.html' %}
  {% include 'patterns/includes/cards/list_definition_body.html' %}
</div>

<pre><code>{% verbatim_include 'patterns/includes/cards/list_unordered_body.html' %}
{% verbatim_include 'patterns/includes/cards/list_definition_body.html' %}</pre></code>

<div>
</div>


<h2>Media</h2>

<div>
  {% include 'patterns/includes/cards/media.html' %}
</div>

<pre><code>{% verbatim_include 'patterns/includes/cards/media.html' %}</pre></code>

{% endblock content %}
