{% extends 'patterns/base.html' %}

{% load patterns_tags %}

{% block content %}

<h2>Standard</h2>

<p>For displaying images of different sizes in 1-4 columns. As the browser narrows the number of columns reduces. The examples below all use the following HTML, only with different modifying classes on the container to change the number of colums:</p>

<pre><code>&lt;ol class="gallery"&gt;
{% verbatim_include 'patterns/includes/galleries/standard.html' %}
&lt;/ol&gt;</pre></code>

<h3>2 columns (default)</h3>

<p>By default, at wider widths, the gallery has two columns:</p>

<ol class="gallery">
{% include 'patterns/includes/galleries/standard.html' %}
</ol>

<h3>3 columns</h3>

<p>Add the <code>.gallery--3</code> class to the container to get three columns:</p>

<ol class="gallery gallery--3">
{% include 'patterns/includes/galleries/standard.html' %}
</ol>

<h3>4 columns</h3>

<p>Add the <code>.gallery--4</code> class to the container to get three columns:</p>

<ol class="gallery gallery--4">
{% include 'patterns/includes/galleries/standard.html' %}
</ol>


<h3>Large headers and descriptions</h3>

<p>Using any of the above column layouts, the items can have larger, serifed, headings, and descriptions:</p>

<pre><code>{% verbatim_include 'patterns/includes/galleries/headers.html' %}</pre></code>

{% include 'patterns/includes/galleries/headers.html' %}


<h2>Flow Gallery</h2>

<p>The "flow" gallery is treated more like a single column or row of images, rather than a grid. Currently used for displaying links to Albums, which use a square thumbnail. For By default they wrap around into multiple rows if the browser width is narrower. Add the <code>.gallery--flow</code> class to the container.</p>

<p>Both examples below use this HTML:</p>

<pre><code>{% verbatim_include 'patterns/includes/galleries/flow.html' %}</pre></code>


<h3>In a main content column</h3>

{% include 'patterns/includes/galleries/flow.html' %}

<h3>In a sidebar</h3>

<p>If a flow gallery is in a <code>.grid__col--sub</code> it’s a single column when the browser is wider:</p>

<div class="grid">
  <div class="grid__row">
    <div class="grid__col grid__col--sub">
{% include 'patterns/includes/galleries/flow.html' %}
    </div>
  </div>
</div>


{% endblock content %}
