{% extends 'patterns/base.html' %}

{% load patterns_tags %}

{% block content %}

<p>The <code>.img-fluid</code> class can be applied directly to <code>&lt;img&gt;</code>s as it’s useful in many places.</p>

<p>Images within text (like blog posts) should be within <code>&lt;figure class="figure figure--img"&gt;&lt;/figure&gt;</code> tags. These have the <code>.img-fluid</code> styles applied automatically.</p>


<h2>Responsive</h2>

<p><code>.img-fluid</code> makes an image be as wide as its container or, if the container is wider than the image, its natural size.</p>

{% include 'patterns/includes/images/responsive.html' %}

<pre><code>{% verbatim_include 'patterns/includes/images/responsive.html' %}</code></pre>


<h2>Figure</h2>

<p>By default, an image within a <code>.figure--img</code> will be centered, and be a maximum of the width of the container:</p>

{% include 'patterns/includes/images/figure.html' %}

<pre><code>{% verbatim_include 'patterns/includes/images/figure.html' %}</code></pre>


<h2>Figure: Full-width</h2>

<p>Adding <code>.figure--full</code> makes the figure be as wide as its container (even if the image within has a narrower natural size).</p>

<p><strong>Note:</strong> when a <code>.figure--full</code> is used within the centered single grid column <code>.grid__col--main--only</code> then it expands to the left and right, up to the edge of the grid.</p>

{% include 'patterns/includes/images/figure_full.html' %}

<pre><code>{% verbatim_include 'patterns/includes/images/figure_full.html' %}</code></pre>


<h2>Figure: Aligned left or right</h2>

<p>Adding <code>.figure--left</code> and <code>.figure--right</code> float the figure and image to one side at wider widths, with text wrapping around.</p>

{% include 'patterns/includes/images/figure_aligned.html' %}

<pre><code>{% verbatim_include 'patterns/includes/images/figure_aligned.html' %}</code></pre>


<h2 id="bordered">Bordered</h2>

<p>Add <code>.figure--img--border</code> to add a border around the image within the figure.</p>

{% include 'patterns/includes/images/figure_border.html' %}

<pre><code>{% verbatim_include 'patterns/includes/images/figure_border.html' %}</code></pre>

<p>Or, if it's an image that's not withing a figure, use the `.utils-border` class:</p>

{% include 'patterns/includes/utilities/border.html' %}

<pre><code>{% verbatim_include 'patterns/includes/utilities/border.html' %}</code></pre>


<h2>Captions</h2>

{% include 'patterns/includes/images/figure_caption.html' %}

<pre><code>{% verbatim_include 'patterns/includes/images/figure_caption.html' %}</code></pre>

{% endblock content %}
