{% extends 'patterns/base.html' %}

{% load patterns_tags %}

{% block content %}

<h2>Standard</h2>

{% include 'patterns/includes/lists/ordered.html' %}

<pre><code>{% verbatim_include 'patterns/includes/lists/ordered.html' %}</pre></code>

{% include 'patterns/includes/lists/unordered.html' %}

<pre><code>{% verbatim_include 'patterns/includes/lists/unordered.html' %}</pre></code>


<h2>Spaced</h2>

{% include 'patterns/includes/lists/spaced.html' %}

<pre><code>{% verbatim_include 'patterns/includes/lists/spaced.html' %}</pre></code>


<h2>Unstyled</h2>

{% include 'patterns/includes/lists/unstyled.html' %}

<pre><code>{% verbatim_include 'patterns/includes/lists/unstyled.html' %}</pre></code>


<h2>Inline</h2>

{% include 'patterns/includes/lists/inline.html' %}

<pre><code>{% verbatim_include 'patterns/includes/lists/inline.html' %}</pre></code>


<h2>Inline and unstyled</h2>

{% include 'patterns/includes/lists/inline_unstyled.html' %}

<pre><code>{% verbatim_include 'patterns/includes/lists/inline_unstyled.html' %}</pre></code>

<p>You might want to add a bullet to a single item in an inline unstyled list:</p>

{% include 'patterns/includes/lists/inline_unstyled_bullet.html' %}

<pre><code>{% verbatim_include 'patterns/includes/lists/inline_unstyled_bullet.html' %}</pre></code>


<h2>Definition lists</h2>

{% include 'patterns/includes/lists/definition.html' %}

<pre><code>{% verbatim_include 'patterns/includes/lists/definition.html' %}</pre></code>


{% endblock content %}
