{% extends 'patterns/base.html' %}

{% load patterns_tags %}

{% block content %}

<h2>Standard</h2>

<p>A horizontal navigation bar. Add <code>.nav__item--split</code> to an item to separate it from the previous one.</p>

{% include 'patterns/includes/nav/standard.html' %}

<pre><code>{% verbatim_include 'patterns/includes/nav/standard.html' %}</pre></code>


<h2>Right</h2>

<p>Add <code>.nav--right</code> to the container to align the items, in the same order, to thr right. Note that <code>.nav__item--split</code> adds a separator <em>after</em> it, instead of before.</p>

{% include 'patterns/includes/nav/right.html' %}

<pre><code>{% verbatim_include 'patterns/includes/nav/right.html' %}</pre></code>


<h2>Active items</h2>

<p>Add <code>.is-active</code> to an item. The <code>&lt;a&gt;</code> can also be replaced by a <code>&lt;span&gt;</code>.

{% include 'patterns/includes/nav/active.html' %}

<pre><code>{% verbatim_include 'patterns/includes/nav/active.html' %}</pre></code>


<h2>Pagination</h2>

<p>Adding <code>.nav--pagination</code> gives each item a bit more space, because they’re so narrow.</p>

{% include 'patterns/includes/nav/pagination.html' %}

<pre><code>{% verbatim_include 'patterns/includes/nav/pagination.html' %}</pre></code>


<h2>Next/previous</h2>

<p>Next/previous links are special cases, to make their underlining look nicer.</p>

{% include 'patterns/includes/nav/nextprev.html' %}

<pre><code>{% verbatim_include 'patterns/includes/nav/nextprev.html' %}</pre></code>

<p>The next/previous links don't need to be used within a <code>.nav</code> structure:

{% include 'patterns/includes/nav/nextprev_b.html' %}

<pre><code>{% verbatim_include 'patterns/includes/nav/nextprev_b.html' %}</pre></code>



{% endblock content %}
