{% extends 'patterns/base.html' %}

{% load patterns_tags %}

{% block content %}

<h2>Text</h2>

{% include 'patterns/includes/type/text.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/text.html' %}</pre></code>


<h2>Headings</h2>

{% include 'patterns/includes/type/headings.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/headings.html' %}</pre></code>

<p>You can use <code>&lt;small&gt;</code> in headings:</p>

{% include 'patterns/includes/type/headings_small.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/headings_small.html' %}</pre></code>


<h2>Horizontal rules</h2>

<p>Standard and small:</p>

{% include 'patterns/includes/type/rules.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/rules.html' %}</pre></code>


<h2>Blockquotes</h2>

{% include 'patterns/includes/type/blockquotes.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/blockquotes.html' %}</pre></code>


<h2>Code blocks</h2>

{% include 'patterns/includes/type/code.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/code.html' %}</pre></code>

{% endblock content %}

