{% extends 'patterns/base.html' %}

{% load patterns_tags %}

{% block content %}

<ul>
  <li><a href="#styles">Type styles</a></li>
  <li><a href="#headings">Headings</a></li>
  <li><a href="#rules">Horizontal rules</a></li>
  <li><a href="#blockquotes">Blockquotes</a></li>
  <li><a href="#code">Codeblocks</a></li>
  <li><a href="#anchors">Section anchors</a></li>
</ul>

<h2 id="styles">
  <a class="section-anchor" href="#styles" style="text-decoration:none;" title="Link to this section">§</a>
  Type styles
</h2>

<p>There are four styles of type used across the site.</p>

{% include 'patterns/includes/type/styles.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/styles.html' %}</code></pre>


<h2 id="headings">
  <a class="section-anchor" href="#headings" style="text-decoration:none;" title="Link to this section">§</a>
  Headings
</h2>

{% include 'patterns/includes/type/headings.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/headings.html' %}</code></pre>


<p>Add <code>.h--bordered</code> to add a border beneath:</p>

{% include 'patterns/includes/type/headings_bordered.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/headings_bordered.html' %}</code></pre>


<p>You can use <code>&lt;small&gt;</code> in headings:</p>

{% include 'patterns/includes/type/headings_small.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/headings_small.html' %}</code></pre>


<h2 id="rules">
  <a class="section-anchor" href="#rules" style="text-decoration:none;" title="Link to this section">§</a>
  Horizontal rules
</h2>

{% include 'patterns/includes/type/rules.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/rules.html' %}</code></pre>


<h2 id="blockquotes">
  <a class="section-anchor" href="#blockquotes" style="text-decoration:none;" title="Link to this section">§</a>
  Blockquotes
</h2>

<p>Hello there</p>

{% include 'patterns/includes/type/blockquotes.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/blockquotes.html' %}</code></pre>


<h2 id="code">
  <a class="section-anchor" href="#code" style="text-decoration:none;" title="Link to this section">§</a>
  Code blocks
</h2>

{% include 'patterns/includes/type/code.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/code.html' %}</code></pre>


<h2 id="anchors">
  <a class="section-anchor" href="#anchors" style="text-decoration:none;" title="Link to this section">§</a>
  Section anchors
</h2>

{% include 'patterns/includes/type/anchors_paragraphs.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/anchors_paragraphs.html' %}</code></pre>

<p>Anchors can also be added to headings:</p>

{% include 'patterns/includes/type/anchors_headings.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/anchors_headings.html' %}</code></pre>

{% endblock content %}
