{% extends 'patterns/base.html' %}

{% load patterns_tags %}

{% block content %}

<h2>Type styles</h2>

<p>There are three main styles of type used across the site.</p>

{% include 'patterns/includes/type/styles.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/styles.html' %}</pre></code>


<h2>Headings</h2>

{% include 'patterns/includes/type/headings.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/headings.html' %}</pre></code>


<p>Add <code>.h--bordered</code> to add a border beneath:</p>

{% include 'patterns/includes/type/headings_bordered.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/headings_bordered.html' %}</pre></code>


<p>You can use <code>&lt;small&gt;</code> in headings:</p>

{% include 'patterns/includes/type/headings_small.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/headings_small.html' %}</pre></code>


<h2>Bodytext</h2>

<p>All headings within an element with a class of <code>.bodytext</code> will use the serif font.</p>

<div class="bodytext">
{% include 'patterns/includes/type/headings.html' %}
</div>

<pre><code>&lt;div class="bodytext"&gt;

{% verbatim_include 'patterns/includes/type/headings.html' %}
&lt;/div&gt;</pre></code>


<h2>Horizontal rules</h2>

{% include 'patterns/includes/type/rules.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/rules.html' %}</pre></code>


<h2>Blockquotes</h2>

<p>Hello there</p>

{% include 'patterns/includes/type/blockquotes.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/blockquotes.html' %}</pre></code>


<h2>Code blocks</h2>

{% include 'patterns/includes/type/code.html' %}

<pre><code>{% verbatim_include 'patterns/includes/type/code.html' %}</pre></code>

{% endblock content %}
