{% extends 'hines_core/layouts/full_width.html' %}
{% load hines_core %}

{% block head_page_title %}{{ flatpage.title|smartypants|safe }}{% endblock %}
{% block content_title %}{{ flatpage.title|smartypants|safe }}{% endblock %}

{% block content %}
  <article>

    {% if perms.flatpages.can_change_flatpage %}
      <aside>
        <p>
          <a class="utils-admin" href="{% url 'admin:flatpages_flatpage_change' flatpage.id %}" title="Edit this page in the Django Admin">Edit</a>
        </p>
      </aside>
    {% endif %}

    {{ flatpage.content|smartypants|safe }}
  </article>
{% endblock %}
