
// All the styles we use for things like Blog Posts.
// In a mixin so that we can use it for the site and an admin preview.
@mixin bodytext() {

  font-size: $font-size-base;
  line-height: $line-height-base;

  @include media-breakpoint-up(sm) {
    font-size: $font-size-lg;
    line-height: $line-height-lg;

    pre,
    code,
    kbd,
    tt,
    samp {
      font-size: $font-size-monospace-lg;
      line-height: $line-height-monospace-lg;
    }
  }

  // So that if there's an .aside at the bottom, it stays within .bodytext:
  @include clearfix;

  &>h1, &>h2, &>h3, &>h4, &>h5, &>h6,
  &>.h-content>h1,
  &>.h-content>h2,
  &>.h-content>h3,
  &>.h-content>h4,
  &>.h-content>h5,
  &>.h-content>h6 {
  //.h1, .h2, .h3, .h4, .h5, .h6 {

    @include text-style-default;
  }

  &> {
    h1, h2, h3, h4, h5, h6 {
      @include text-style-default;
    }

    .h-content> {

      h1, h2, h3, h4, h5, h6 {
        @include text-style-default;
      }

      // Making headings one step bigger in body text, to differentiate from
      // the normal text size:
      h2, .h2 {
        font-size:     $h2-font-size;
        line-height:   $h2-line-height;

        @include media-breakpoint-up(sm) {
          font-size:     $h1-font-size;
          line-height:   $h1-line-height;
        }
      }
      h3, .h3 {
        font-size:     $h3-font-size;
        line-height:   $h3-line-height;

        @include media-breakpoint-up(sm) {
          font-size:     $h2-font-size;
          line-height:   $h2-line-height;
        }
      }
      h4, .h4 {
        font-size:     $h4-font-size;
        line-height:   $h4-line-height;

        @include media-breakpoint-up(sm) {
          font-size:     $h3-font-size;
          line-height:   $h3-line-height;
        }
      }
      h5, .h5 {
        font-size:     $h5-font-size;
        line-height:   $h5-line-height;

        @include media-breakpoint-up(sm) {
          font-size:     $h4-font-size;
          line-height:   $h4-line-height;
        }
      }
      h5, .h5 {
        font-size:     $h6-font-size;
        line-height:   $h6-line-height;

        @include media-breakpoint-up(sm) {
          font-size:     $h5-font-size;
          line-height:   $h5-line-height;
        }
      }
    }

  }

  .pagehead h1 {
    margin-top: 0;
    margin-bottom: $vertical-space;

    cite {
      // Undo the font-style:normal we have for the Helvetica headings.
      font-style: $cite-font-style;
    }

    @include text-style-default;
  }
}
