
// All the styles we use for things like Blog Posts.
// In a mixin so that we can use it for the site and an admin preview.
@mixin bodytext() {

  font-size: $font-size-base;
  line-height: $line-height-base;

  @include media-breakpoint-up(sm) {
    font-size: $font-size-lg;
    line-height: $line-height-lg;

    pre,
    code,
    kbd,
    tt,
    samp {
      font-size: $font-size-monospace-lg;
      line-height: $line-height-monospace-lg;
    }
  }

  // So that if there's an .aside at the bottom, it stays within .bodytext:
  @include clearfix;

  &>h1, &>h2, &>h3, &>h4, &>h5, &>h6,
  &>.h-content>h1,
  &>.h-content>h2,
  &>.h-content>h3,
  &>.h-content>h4,
  &>.h-content>h5,
  &>.h-content>h6 {
  //.h1, .h2, .h3, .h4, .h5, .h6 {

    @include text-style-default;
  }

  .pagehead h1 {
    margin-top: 0;
    margin-bottom: $vertical-space;

    cite {
      // Undo the font-style:normal we have for the Helvetica headings.
      font-style: $cite-font-style;
    }

    @include text-style-default;
  }
}
