@mixin list-inline() {
  padding-left: 0;
  list-style: none;

  & > li {
    @include list-inline-item;
  }
}

// Default bulleted list item.
@mixin list-item-bullet() {
  // Also see the exception to this background positioning in .asides.scss:
  background: url('#{$img-path}bullet.png') 0 0.4em no-repeat;
  padding-left: ($base-unit + $list-inline-padding);
}

@mixin list-inline-item() {
  display: inline-block;
  background: none;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

@mixin list-unstyled() {
  padding-left: 0;
  list-style: none;

  & > li {
    padding-left: 0;
  }
}
