
@mixin list-inline() {
  padding-left: 0;
  list-style: none;

  & > li {
    @include list-inline-item;
  }
}

// Default bulleted list item.
@mixin list-item-bullet() {
  // Also see the exception to this background positioning in _cards.scss
  // And in .table--timeline in _tables.scss
  background: url('#{$img-path}bullet.png') 0 $list-bullet-position no-repeat;
  padding-left: ($border-width + $list-inline-padding);
}

@mixin list-inline-item() {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

@mixin list-unstyled() {
  padding-left: 0;
  list-style: none;

  & > li {
    padding-left: 0;
    background: none;
  }
}
