@mixin list-inline() {
  padding-left: 0;
  list-style: none;

  & > li {
    @include list-inline-item;
  }
}

// Default bulleted list item.
@mixin list-item-bullet() {
  background: url('#{$img-path}bullet.png') 0 0.4em no-repeat;
  padding-left: ($border-width + $list-inline-padding);
}

@mixin list-inline-item() {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

@mixin list-unstyled() {
  padding-left: 0;
  list-style: none;

  & > li {
    background: none;
    padding-left: 0;
  }
}
