// Hyphens
// -------------------------------------//
// @notes
// http://caniuse.com/#search=hyphens
// http://trentwalton.com/2011/09/07/css-hyphenation
//
// @values              [ none | manual | auto ]

@mixin hyphens($val) {
  @each $prefix in $browser-prefixes {
    #{$prefix}hyphens: $val;
  }
}

// Used for body text - anything that's about "reading".
@mixin text-style-default() {
  font-family: $text-style-default-font-family;
  font-weight: $font-weight-base;
  text-transform: none;
}

// Used for things like form help text, form errors, figcaptions, some text in sidebar cards, etc.
@mixin text-style-alt() {
  font-family: $text-style-alt-font-family;
  font-weight: $font-weight-bold;
  text-transform: none;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
}

// Used for some headings.
@mixin text-style-headings() {
  font-family: $text-style-alt-font-family;
  font-weight: $text-style-alt-font-weight;
  text-transform: uppercase;
}

// Used for cards, asides, navbar, form labels, etc.
@mixin text-style-nav() {
  font-family: $text-style-alt-font-family;
  font-weight: $text-style-alt-font-weight;
  text-transform: uppercase;
  font-size:    $nav-font-size;
}

