// Hyphens
// -------------------------------------//
// @notes
// http://caniuse.com/#search=hyphens
// http://trentwalton.com/2011/09/07/css-hyphenation
//
// @values              [ none | manual | auto ]

@mixin hyphens($val) {
  @each $prefix in $browser-prefixes {
    #{$prefix}hyphens: $val;
  }
}

@mixin text-style-2($transform) {
  font-family: $text-style-2-font-family;
  font-weight: $text-style-2-font-weight;
  @if $transform {
    text-transform: $transform;
  }
}
