// Hyphens
// -------------------------------------//
// @notes
// http://caniuse.com/#search=hyphens
// http://trentwalton.com/2011/09/07/css-hyphenation
//
// @values              [ none | manual | auto ]

@mixin hyphens($val) {
  @each $prefix in $browser-prefixes {
    #{$prefix}hyphens: $val;
  }
}

@mixin text-style-default() {
  font-family: $text-style-default-font-family;
}

@mixin text-style-alt() {
  font-family: $text-style-alt-font-family;
  font-weight: $text-style-alt-font-weight;
}

@mixin text-style-nav() {
  font-family:  $text-style-nav-font-family;
  font-weight:  $text-style-nav-font-weight;
  font-size:    $nav-font-size;
  text-transform: uppercase;
}

