// A lot of these variables taken from Bootstrap.


$img-path:      "../img/css/";

$browser-prefixes: -webkit-, -moz-, -ms-, '';

//
// Color system
//
// https://www.w3.org/TR/2008/NOTE-WCAG20-TECHS-20081211/working-examples/G183/link-contrast.html

$white:         #fff;
$gray-light:    #ccc;
$gray-medium:   #999;
$gray-dark:     #666;
$gray-darkest:  #333;
$black:         #000;

$blue:          #33f;
$blue-dark:     #00c;
$purple:        #90c;
$red:           #c00;


$theme-colors: (
  "primary":    $blue,
  "secondary":  $black
);

$theme-hover-colors: (
  "primary":    $blue-dark,
  "secondary":  $black
);

$yiq-text-dark:   $gray-darkest;
$yiq-text-light:  $white;

$text-color-warning:  $red;

// Spacing

$spacer: 1rem;

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white;
$body-color:                $gray-darkest;


// Links
//
// Style anchor elements.

$link-decoration:           underline;
$link-color:                $blue;
$link-active-color:         $red;
$link-hover-color:          $red;
$link-visited-color:        $purple;
$link-visited-hover-color:  $red;



// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


// What we use for hr's, navbar rules, etc:
$border-width: 12px;
$border-color: $black;

$border-width-sm: 1px;


// Grid containers

$grid-columns:      4;
$grid-gutter-width: ($border-width * 4);
$grid-max-width:    1140px;


// Fonts

$font-family-serif:           Georgia, Times, "Times New Roman", serif;

//$font-family-sans-serif:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-base:            $font-family-serif;

$font-size-base:              (1rem * 1.125); // probably 18px
$font-size-lg:                ($font-size-base * 1.3333); // 24px
$font-size-sm:                ($font-size-base * .77778); // 14px

//$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.5;
$line-height-base-computed:   ($font-size-base * $line-height-base);

$h1-font-size:      ($font-size-base * 1.6666667);  /* 30 */
$h2-font-size:      ($font-size-base * 1.3888889);  /* 25 */
$h3-font-size:      ($font-size-base * 1.1666667);  /* 21 */
$h4-font-size:      $font-size-base;                /* 18 */
$h5-font-size:      $font-size-sm;                  /* 13 */
$h6-font-size:      $font-size-sm;                  /* 13 */

// Variants for wider screens:
$h1-font-size-md:   ($font-size-base * 2);          /* 36 */
$h2-font-size-md:   ($font-size-base * 1.611111);   /* 29 */
$h3-font-size-md:   ($font-size-base * 1.277778);   /* 23 */

$paragraph-margin-bottom:     $font-size-base;

$headings-margin-bottom:      $paragraph-margin-bottom;
$headings-line-height:        1.2;
$headings-color:              inherit;
$headings-font-weight:        $font-weight-base;

$line-height-sm:              $line-height-base; 

$lead-font-size:              ($font-size-base * 1.25);
$lead-font-weight:            300;

$text-muted:                  $gray-medium;

$hr-border-color:             $border-color;
$hr-border-width:             $border-width;
$hr-border-width-sm:          $border-width-sm;
$hr-margin:                   ($paragraph-margin-bottom * 2);
$hr-margin-sm:                $paragraph-margin-bottom;

$dt-font-weight:              $font-weight-bold;

$text-style-default-font-family:    $font-family-serif;
$text-style-default-font-weight:    $font-weight-normal;

$text-style-alt-font-family:        $font-family-sans-serif;
$text-style-alt-font-weight:        $font-weight-bold;

$list-inline-padding:         .5rem;
$list-inline-padding-px:      8px; // So we can do maths.


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:          .75rem;
$table-cell-padding-sm:       .3rem;

$table-border-width:          $border-width-sm; 
$table-border-color:          $border-color;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$button-` specific variables.

$input-button-padding-y:         .375rem;
$input-button-padding-x:         .75rem;
$input-button-line-height:       $line-height-base;

$input-button-focus-width:       .2rem;

$input-button-padding-y-sm:      .1rem;
$input-button-padding-x-sm:      .5rem;
$input-button-line-height-sm:    $line-height-sm;

$input-button-border-width:      1px;

// Buttons

$button-padding-y:               $input-button-padding-y;
$button-padding-x:               $input-button-padding-x;
$button-line-height:             $input-button-line-height;

$button-padding-y-sm:            $input-button-padding-y-sm;
$button-padding-x-sm:            $input-button-padding-x-sm;
$button-line-height-sm:          $input-button-line-height-sm;

$button-border-width:            $input-button-border-width;

$button-focus-width:             $input-button-focus-width;

$button-disabled-opacity:        .65;

$button-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;


// Forms

$input-padding-y:                       $input-button-padding-y;
$input-padding-x:                       $input-button-padding-x;
$input-line-height:                     $input-button-line-height;

$input-padding-y-sm:                    $input-button-padding-y-sm;
$input-padding-x-sm:                    $input-button-padding-x-sm;
$input-line-height-sm:                  $input-button-line-height-sm;

$input-bg:                              $body-bg;
$input-disabled-bg:                     $gray-light;

$input-color:                           $body-color;
$input-border-color:                    $black;
$input-border-width:                    $input-button-border-width;
$input-box-shadow:                      inset 0 1px 1px rgba($black, .075);

$input-placeholder-color:               $text-muted;

$input-height-border:                   $input-button-border-width * 2;

$input-height-inner:                    ($font-size-base * $input-button-line-height) + ($input-button-padding-y * 2);
$input-height:                          calc(#{$input-height-inner} + #{$input-height-border});

$input-height-inner-sm:                 ($font-size-sm * $input-button-line-height-sm) + ($input-button-padding-y-sm * 2);
$input-height-sm:                       calc(#{$input-height-inner-sm} + #{$input-height-border});

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$form-text-margin-top:                  .375rem;

$form-group-margin-bottom:              $paragraph-margin-bottom;

$form-feedback-invalid-color:           $red; 


// Nav
// e.g. In the .navbar and in pagination.

$nav-link-padding-x:             0.5rem;

$nav-link-color:                 $link-color;
$nav-link-hover-color:           $link-hover-color;
$nav-link-active-color:          $link-active-color;

$nav-disabled-color:         $gray-medium;

$nav-text-color:                 $body-color;

$nav-border-width:               $border-width;

// These also used for more general 'nav'-type text everywhere:

$nav-font-size:               1rem;
// Because occasionally we need to add what is probably the size to things like
// the border-width:
$nav-font-size-px:            16px;


// Navbar

$navbar-brand-font-size:            (1rem * 1.25); // probably 20px


// Cards

//$card-spacer-y:                     .75rem;
//$card-spacer-x:                     1.25rem;
