{% comment %}
The stuff about a Bookmark.

Expects:

 * bookmark, a Bookmark object.
 * perms - The Django perms object.
 * view - The context this Bookmark is viewed in: 'list', 'day' or 'detail'.

{% endcomment %}

{% load hines_core %}

{% if view == 'detail' %}

  <aside class="meta">
    <ul class="meta__inner">
      {% include 'hines_core/includes/tags.html' with tag_list=bookmark.tags.all format='inline' tag_type='bookmark' only %}

      <li class="dt-published">
        {% if view == 'day' %}
          {% display_time bookmark.post_time show='date' link_to_day=False %}
        {% elif view == 'detail' %}
          {% display_time bookmark.post_time link_to_day=True %}
        {% else %}
          {% display_time bookmark.post_time show='date' link_to_day=True %}
        {% endif %}
      </li>

      {% include 'hines_core/includes/next_prev.html' with previous=bookmark.get_previous next=bookmark.get_next %}

      {% if perms.pinboard.can_change_bookmark %}
        <li><a class="utils-admin" href="{% url 'admin:pinboard_bookmark_change' bookmark.id %}">Edit</a></li>
      {% endif %}
    </ul>
  </aside>

{% else %}

  <aside class="meta meta--inline">
    <ul class="meta__inner">
      <li>
        {% if view == 'day' %}
          {% display_time bookmark.post_time show='date' link_to_day=False %}
        {% else %}
          {% display_time bookmark.post_time show='date' link_to_day=True %}
        {% endif %}
      </li><li>
        <a href="{{ bookmark.get_absolute_url }}" title="See only this link">Permalink</a>
      </li>{% if perms.pinboard.can_change_bookmark %}<li><a class="utils-admin" href="{% url 'admin:pinboard_bookmark_change' bookmark.id %}">Edit</a></li>
      {% endif %}
    </ul>
  </aside>

{% endif %}
