{% comment %}
The stuff about a Bookmark.

Expects:

 * bookmark, a Bookmark object.
 * perms - The Django perms object.
 * view - The context this Bookmark is viewed in: 'list', 'day' or 'detail'.

{% endcomment %}

{% load hines_core %}

<aside class="meta">
  <ul class="meta__inner">
    {% if perms.pinboard.can_change_bookmark %}
      <li><a href="{% url 'admin:pinboard_bookmark_change' bookmark.id %}">Edit</a></li>
    {% endif %}

    {% include 'hines_core/includes/tags.html' with tag_list=bookmark.tags.all format='inline' tag_type='bookmark' container="li" only %}

    <li>
      {% if view != 'detail' %}
        <a href="{{ bookmark.get_absolute_url }}" title="See only this link">#</a> &nbsp;
      {% endif %}

      {% if view == 'day' %}
        {% display_time bookmark.post_time link_to_day=False %}
      {% else %}
        {% display_time bookmark.post_time link_to_day=True %}
      {% endif %}
    </li>

    {% if view == 'detail' %}
      {% include 'hines_core/includes/next_prev.html' with previous=bookmark.get_previous next=bookmark.get_next %}
    {% endif %}
  </ul>
</aside>

