{% comment %}
A single Bookmark as the contents of a Bootstrap media object.

Expects:
 * bookmark, a Bookmark object.
 * perms - The Django perms object.
 * view - 'list' (a generic list), 'day' or 'detail'.

{% endcomment %}

{% load hines_core %}

<article class="article">
  <h2 class="h3"><a href="{{ bookmark.url }}">{{ bookmark.title }}</a></h2>

  {% if bookmark.description %}
    <p>
      {{ bookmark.description }}
    </p>
  {% endif %}

  <aside class="aside">
    <div class="aside__inner">
      {% if perms.pinboard.can_change_bookmark %}
        <p><a href="{% url 'admin:pinboard_bookmark_change' bookmark.id %}">Edit</a></p>
      {% endif %}

      <p>
        {% if view != 'detail' %}
          <a href="{{ bookmark.get_absolute_url }}" title="See only this bookmark">#</a>
        {% endif %}

        {% if view == 'day' %}
          {% display_time bookmark.post_time link_to_day=False %}
        {% else %}
          {% display_time bookmark.post_time link_to_day=True %}
        {% endif %}
      </p>

      {% include 'hines_core/includes/tags.html' with tag_list=bookmark.tags.all format='inline' tag_type='bookmark' only %}

      {% if view == 'detail' %}
        {% include 'hines_core/includes/next_prev.html' with previous=bookmark.get_previous next=bookmark.get_next %}
      {% endif %}
    </div>
  </aside>
</article>


