{% comment %}

Expects:
 * bookmark_list, a queryset of Bookmarks.
 * page_obj, optional, a DiggPaginator instance or False (default).
 * perms - The Django perms object.
 * view - 'list' (a generic list), 'detail' or 'day'.

{% endcomment %}

{% if bookmark_list|length > 0 %}

  {% if page_obj|default:False and page_obj.number > 1 %}
    {% include 'hines_core/includes/pagination.html' with page_obj=page_obj only %}
  {% endif %}

  <ol class="media-list">
    {% for bookmark in bookmark_list %}
      <li class="media media--lg">
        <div class="media__header">
          <a href="{{ bookmark.url }}">{{ bookmark.title }}</a>
        </div>

        {% if bookmark.description %}
          <p>
            {{ bookmark.description }}
          </p>
        {% endif %}

        {% include 'links/includes/bookmark_aside.html' with bookmark=bookmark perms=perms view=view only %}
      </li>
    {% endfor %}
  </ol>

  {% if page_obj|default:False %}
    {% include 'hines_core/includes/pagination.html' with page_obj=page_obj only %}
  {% endif %}

{% else %}
  <p>There are no links to show.</p>
{% endif %}


