{% comment %}

Expects:
 * bookmark_list, a queryset of Bookmarks.
 * page_obj, optional, a DiggPaginator instance or False (default).
 * perms - The Django perms object.
 * view - 'list' (a generic list), 'detail' or 'day'.

{% endcomment %}

{% if bookmark_list|length > 0 %}
  {% if page_obj|default:False and page_obj.number > 1 %}
    {% include 'hines_core/includes/pagination.html' with page_obj=page_obj only %}
  {% endif %}

  <div class="articlelist">
    {% for bookmark in bookmark_list %}
      {% include 'links/includes/bookmark.html' with bookmark=bookmark view=view perms=perms only %}
    {% endfor %}
  </div>

  {% if page_obj|default:False %}
    {% include 'hines_core/includes/pagination.html' with page_obj=page_obj only %}
  {% endif %}

{% else %}
  <p>There are no bookmarks to show.</p>
{% endif %}


