{% comment %}

Expects:
 * bookmark_list, a queryset of Bookmarks.
 * page_obj, optional, a DiggPaginator instance or False (default).
 * perms - The Django perms object.
 * view - 'list' (a generic list), 'detail' or 'day'.
* list_style - 'open' (no top/bottom border) or None (default).

{% endcomment %}

{% load hines_core %}

{% if bookmark_list|length > 0 %}

  {% if page_obj|default:False and page_obj.number > 1 %}
    {% include 'hines_core/includes/pagination.html' with page_obj=page_obj only %}
  {% endif %}

  <ol class="media-list{% if list_style == 'open' %} media-list--open{% endif %} h-feed">
    {% for bookmark in bookmark_list %}
      <li class="media h-entry">
        <div class="media__body">
          <h2 class="media__header">
            <a class="p-name u-url" href="{{ bookmark.url }}">{{ bookmark.title|smartypants }}</a>
          </h2>

          {% if bookmark.description %}
            <p class="e-content">
            {{ bookmark.description|smartypants|widont }}
            </p>
          {% endif %}

          {% include 'links/includes/bookmark_meta.html' with bookmark=bookmark perms=perms view=view only %}
        </div> <!-- .media__body -->
      </li>
    {% endfor %}
  </ol>

  {% if page_obj|default:False %}
    {% include 'hines_core/includes/pagination.html' with page_obj=page_obj only %}
  {% endif %}

{% else %}
  <p>There are no links to show.</p>
{% endif %}
