{% comment %}
Used by the popular_tags_card template tag.

Expects:
* tag_list - A QuerySet of Tags, with 'num_times' field.
* card_title - The title for the card.
{% endcomment %}

{% if tag_list|length > 0 %}
  <aside class="card">
    <div class="card__body">
      <h2 class="card__title">{{ card_title }}</h2>

      {% include 'hines_core/includes/tags.html' with tag_list=tag_list format='chart' tag_type='bookmark' only %}

      <p class="card__text">
        <a href="{% url 'pinboard:tag_list' %}">More tags</a>
      </p>
    </div>
  </aside>
{% endif %}

