// Make an image be a maximum of as wide as its container.

.img-fluid {
  max-width: 100%;
  height: auto;
}
// Same for <video>.
.video-fluid {
  max-width: 100%;
  height: auto;
}

// Override inline styles for Spectator Events map.
// Not sure where else to put it...
.venue-map {
  border: $border-width-sm solid $border-color !important;
  margin-bottom: $vertical-space !important;
}
