// Lists

ul {
  list-style-type: none;
  padding-left: 0;

  li {
    @include list-item-bullet;
  }
}

ol {
  padding-left: 2em;
}

// Inline lists

.list--inline {
  @include list-inline;

  & > .list--inline__item--bullet {
    // For rare case when we want to force a particular item in an inline list
    // to have a bullet.
    @include list-item-bullet;
  }
}

.list--spaced {
  & > li {
    margin-bottom: $vertical-space;
  }

  & > li > ul,
  & > li > ol {
    margin-top: $vertical-space;
  }
}

// Unstyled lists

// For the entire list.
.list--unstyled {
  @include list-unstyled;
}

// For an individual list item.
.list__item--unstyled {
  padding-left: 0;
  background: none;
}

// Definition lists

dd:last-child {
  margin-bottom: 0;
}

// Makes spacing better if we have p's in li's and also nested lists.
li > p {
  margin-top: $vertical-space;
}

// RSS list

li.icon-rss {
  @include background-svg(rss);
  background-size: 12px;
}
