// MEDIA
// For lists of blog posts, comments, etc.


// Used for both .media__header and .media__byline_author:
@use "sass:math";

$media-header-font-size: $h4-font-size;
$media-header-line-height: $line-height-base;


.media-list {
  padding-left: 0;
  list-style: none;
  border-top: $border-width-sm solid $border-color;
  margin-bottom: $vertical-space;
}

.media {
  padding-top: $vertical-space-sm;
  // So the bottom padding and border equal one $vertical-space:
  padding-bottom: calc(#{$vertical-space-sm} - #{$border-width-sm});
  border-bottom: $border-width-sm solid $border-color;

  display: flex;
  align-items: flex-start;

  &:first-child {
    // To allow for the .media-list's top border.
    padding-top: calc(#{$vertical-space-sm} - #{$border-width-sm});
  }

  .media:last-child {
    // Nested items, like a quoted tweet.
    padding-bottom: 0;
    border-bottom: none;
  }

  iframe,
  embed,
  object,
  video {
    margin-bottom: 0;
  }

  .meta--inline {
    margin-bottom: $vertical-space-sm;
  }
}

.media-list--open {
  // No top/bottom borders on the list; still borders between items.
  border-top: none;
  margin-bottom: 0;

  & > .media:first-child {
    padding-top: $vertical-space-sm;
  }

  & > .media:last-child {
    border-bottom: none;
    padding-bottom: $vertical-space-sm;
  }
}

.media__img {
  margin-right: ($grid-gutter-width * 0.5);
  // It lines up the top of the image with the top of .media__byline__author:
  margin-top: math.div($vertical-space, 3);
}

.media__body {
  flex: 1;

  p {
    margin-bottom: $vertical-space-sm;
  }

  &>p:last-child,
  &>ul:last-child,
  &>ol:last-child,
  &>.media__header {
    margin-bottom: 0;
  }

  .media__header + .meta {
    // Useful for, e.g., a publication.
    margin-top: $vertical-space-sm;
  }
}


.media__header {
  @include text-style-default;
  font-size: $media-header-font-size;
  line-height: $media-header-line-height;
  margin-bottom: $vertical-space-sm;
}


.media__byline {
  @include text-style-nav;
  margin-bottom: $vertical-space-sm;
}

.media__byline__author {
  font-size: $media-header-font-size;
  line-height: $media-header-line-height;
}

.media__byline__author__icon {
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
}

// Media items in a .card.
.card {

  .media-list {
    border-top: none;
  }

  .media {
    padding-top: $vertical-space-sm;
    // So the bottom padding and border equal one $vertical-space-sm:
    padding-bottom: calc(#{$vertical-space-sm} - #{$border-width-sm});
    @include text-style-alt;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: $vertical-space-sm;
    }
  }

  .media__header {
    @include text-style-alt;
  }
}
