{% extends "admin/index.html" %}

{# Customised to add some large links at the top of the page. #}

{% block extrastyle %}
  {{ block.super }}

  <style type="text/css">
    .hines-admin ul,
    .hines-admin li {
      margin: 0;
      padding: 0;
    }
    .hines-admin > ul {
      display: flex;
      justify-content: space-between;
      /* At narrow widths: */
      flex-direction: column;
    }
    .hines-admin ul ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .hines-admin li {
      list-style-type: none;
      text-align: center;
      line-height: 1.2em;
    }
    .hines-admin > ul > li {
      flex-grow: 1;
      flex-basis: 0;
    }

    /* Space between each block of buttons: */
    .hines-admin > ul > li:not(:first-child) {
      margin-left: 8px;
    }
    .hines-admin > ul > li:not(:last-child) {
      margin-right: 8px;
    }

    .hines-admin li li {
      margin-top: 0.3em;
      margin-bottom: 2em;
      width: 50%;
    }

    /* Space between each button within a block: */
    .hines-admin li li:not(:first-child) {
      margin-left: 5px;
    }
    .hines-admin li li:not(:last-child) {
      margin-right: 5px;
    }

    .hines-admin a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 4em;
      border: 1px solid #78aec8;
    }
    .hines-admin a span {
      padding: 0.5em;
    }


    /* For wider widths: */
    @media (min-width: 400px) {
      .hines-admin > ul {
        flex-direction: row;
      }
    }

    /** Sidebar **/
    .hines-actions {
      float: right;
      width: 260px;
      position: relative;
      margin-right: -300px;
    }

    .hines-actions ul,
    .hines-actions li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .hines-actions a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 2em;
      border: 1px solid #78aec8;
      margin-bottom: 1em;
    }

    #content-related {
      clear: right;
    }

    @media (max-width: 1024px) {
      .hines-actions {
        margin-right: -290px;
      }
    }
    @media (max-width: 767px) {
      .hines-actions {
        width: 100%;
        margin: 0;
      }
    }
  </style>
{% endblock extrastyle %}


{% block content %}

  <div class="hines-admin">
    <ul>
      <li>
        Writing
        <ul>
          <li><a href="/backstage/weblogs/post/add/"><span>New post</span></a></li>
          <li><a href="/backstage/weblogs/post/"><span>Posts</span></a></li>
        </ul>
      </li>
      <li>
        Reading
        <ul>
          <li><a href="/backstage/spectator_reading/publication/add/"><span>New publication</span></a></li>
          <li><a href="/phil/reading/"><span>Current reading</span></a></li>
        </ul>
      </li>
      <li>
        Events
        <ul>
          <li><a href="/backstage/spectator_events/event/add/"><span>New event</span></a></li>
          <li><a href="/phil/events/"><span>Recent events</span></a></li>
        </ul>
      </li>
    </ul>
  </div>

  {{ block.super }}

{% endblock content %}


{% block sidebar %}
  <div class="hines-actions">
    <ul>
      <li><a href="{% url 'hines:admin_clear_cache' %}">Clear cache</a></li>
    </ul>
  </div>
  {{ block.super }}
{% endblock sidebar %}
