{% extends 'links/base.html' %}

{% block head_page_title %}Links{% endblock %}
{% block content_title %}Links{% endblock %}

{% block content %}
    <h1 class="my-4">
        {% block title %}
            Pinboard bookmark
        {% endblock %}
    </h1>

	<hr>
	<div class="media mt-0 pinboard-bookmark pinboard-bookmark-detail">
		{% include 'links/includes/bookmark.html' with bookmark=bookmark view='detail' perms=perms only %}
	</div>
	<hr>

	<nav>
		<p>
			{% with bookmark.get_previous as previous_bookmark %}
				{% with bookmark.get_next as next_bookmark %}
					{% if previous_bookmark or next_bookmark %}
						{% if previous_bookmark %}
							<a href="{% url 'pinboard:bookmark_detail' username=previous_bookmark.account.username hash=previous_bookmark.url_hash %}" title="Previous bookmark" class="btn btn-outline-primary">
								&larr; Previous
							</a>
						{% endif %}
						{% if next_bookmark %}
							<a href="{% url 'pinboard:bookmark_detail' username=next_bookmark.account.username hash=next_bookmark.url_hash %}" title="Next bookmark" class="btn btn-outline-primary float-right">
								Next &rarr;
							</a>
						{% endif %}
					{% endif %}
				{% endwith %}
			{% endwith %}
		</p>
	</nav>


{% endblock %}

