{% extends 'links/layouts/base.html' %}

{% load hines_core %}

{% block head_page_title %}A link{% endblock %}
{% block content_title %}A link{% endblock %}

{% block content %}

  <hr class="hr">

  <article class="h-entry">
    <h2 class="h3"><a class="p-name" href="{{ bookmark.url }}">{{ bookmark.title|smartypants }}</a></h2>

    {% if bookmark.description %}
      <p class="e-content">
        {{ bookmark.description|smartypants }}
      </p>
    {% endif %}

    {% include 'links/includes/bookmark_meta.html' with bookmark=bookmark perms=perms view='detail' only %}

  </article>

  <hr class="hr">

{% endblock %}
