{% extends 'links/layouts/base.html' %}

{% block head_page_title %}A link{% endblock %}
{% block content_title %}A link{% endblock %}

{% block content %}

  <hr class="hr--sm">

  <article class="bodytext">
    <h2 class="h3"><a href="{{ bookmark.url }}">{{ bookmark.title }}</a></h2>

    {% if bookmark.description %}
      <p>
        {{ bookmark.description }}
      </p>
    {% endif %}

    {% include 'links/includes/bookmark_meta.html' with bookmark=bookmark perms=perms view='detail' only %}

  </article>

  <hr class="hr--sm">

{% endblock %}

{% block sidebar %}
{% endblock %}

