{% extends 'hines_core/layouts/sidebar_right.html' %}

{% load hines_core hines_weblogs %}

{% block head_page_title %}{{ blog.name }}{% endblock %}
{% block content_title %}{{ blog.name }}{% endblock %}

{% block content %}

	{% include 'weblogs/includes/posts.html' with post_list=post_list page_obj=page_obj perms=perms only %}

{% endblock %}

{% block sidebar_content %}

	{% if blog %}
		{% current_url_name as url_name %}
		{% if url_name != 'weblogs:blog_tag_list' %}
			{% blog_popular_tags_card blog=blog num=10 %}
		{% endif %}

		{% blog_years_card blog=blog current_year=year|default_if_none:None %}
	{% endif %}

	{{ block.super }}
{% endblock sidebar_content %}
