{% extends 'hines_core/layouts/sidebar_left.html' %}

{% load hines_weblogs %}
{% load hines_core %}

{% block head_page_title %}{{ blog.name }}{% endblock %}
{% block content_title %}{{ blog.name }}{% endblock %}

{% block content %}

	{% include 'weblogs/includes/posts.html' with post_list=post_list perms=perms style='compact' only %}

	{% if is_paginated %}
		<nav class="nextprev">
			<p>
				{% if page_obj.has_next %}
					<a class="btn btn-outline-primary" href="{{ blog.get_absolute_url }}?p={{ page_obj.next_page_number }}">&larr; Older posts</a>
				{% endif %}
				{% if page_obj.has_previous %}
					<a class="btn btn-outline-primary float-right" href="{{ blog.get_absolute_url }}?p={{ page_obj.previous_page_number }}">Newer posts &rarr;</a>
				{% endif %}
			</p>
		</nav>
	{% endif %}
{% endblock %}

{% block sidebar %}

	{% if blog %}
		{% current_url_name as url_name %}
		{% if url_name != 'hines:blog_tag_list' %}
			{% blog_popular_tags_card blog=blog num=10 %}
		{% endif %}

		{% blog_years_card blog=blog current_year=year|default_if_none:None %}
	{% endif %}

	{{ block.super }}
{% endblock sidebar %}
