{% extends 'hines_core/layouts/sidebar_right.html' %}

{% load hines_core hines_weblogs %}

{% block head_page_title %}{{ blog.name }} archive{% endblock %}
{% block content_title %}{{ blog.name }} archive{% endblock %}

{% block content %}

  {% for d in months %}
    {% ifchanged d|date:"Y" %}
      {% if forloop.counter0 != 0 %}
        </ul>
      {% endif %}
      <h2>{{ d|date:"Y" }}</h2>
      <ul class="list--inline">
    {% endifchanged %}
    <li>
      <a href="{% url 'weblogs:post_month_archive' blog_slug=blog.slug year=d|date:"Y" month=d|date:"m" %}">{{ d|date:"M" }}</a>
    </li>
  {% endfor %}
  </ul>

{% endblock content %}

{% block sidebar_content %}

	{% if blog %}
		{% current_url_name as url_name %}
		{% if url_name != 'weblogs:blog_tag_list' %}
			{% blog_popular_tags_card blog=blog num=10 %}
		{% endif %}
	{% endif %}

	{{ block.super }}
{% endblock sidebar_content %}
