{% extends 'hines_core/layouts/sidebar_left.html' %}

{% block head_page_title %}{{ blog.name }}: {{ year|date:"Y" }}{% endblock %}
{% block content_title %}{{ blog.name }}:  {{ year|date:"Y" }}{% endblock %}

{% block content %}
  {% include 'hines_core/includes/next_prev_date.html' with date_type='year' url_name='weblogs:post_year_archive' blog_slug=blog.slug previous=previous_year next=next_year current=year only %}

  {% include 'weblogs/includes/posts.html' with post_list=post_list perm=perms only %}

  {% include 'hines_core/includes/next_prev_date.html' with date_type='year' url_name='weblogs:post_year_archive' blog_slug=blog.slug previous=previous_year next=next_year current=year only %}

{% endblock content %}

{% block sidebar_content %}
	{% if date_list|length > 1 %}
		{# Don't both showing it if there's only one month #}
		<aside class="card">
      <h2 class="card__header">Months in {{ year|date:"Y" }}</h2>
      <ul>
        {% for month in date_list %}
          <li>
            <a href="{% url 'weblogs:post_month_archive' blog_slug=blog.slug year=month|date:"Y" month=month|date:"m" %}">{{ month|date:"F" }}</a>
          </li>
        {% endfor %}
      </ul>
		</aside>
	{% endif %}

	{{ block.super }}
{% endblock sidebar_content %}
