{% extends 'weblogs/base.html' %}

{% block head_page_title %}{{ blog.name }}: {{ month|date:"F Y" }}{% endblock %}
{% block content_title %}{{ blog.name }}:  {{ month|date:"F Y" }}{% endblock %}

{% block content %}

	{% include 'weblogs/includes/posts.html' with post_list=post_list perm=perms style='compact' only %}

	{% if previous_month or next_month %}
		<nav class="nextprev">
			<p>
				{% if previous_month %}
					<a class="btn btn-outline-primary" href="{% url 'hines:post_month_archive' blog_slug=blog.slug year=previous_month|date:"Y" month=previous_month|date:"m" %}">&larr; {{ previous_month|date:"F Y" }}</a>
				{% endif %}
				{% if next_month %}
					<a class="btn btn-outline-primary float-right" href="{% url 'hines:post_month_archive' blog_slug=blog.slug year=next_month|date:"Y" month=next_month|date:"m" %}">{{ next_month|date:"F Y" }} &rarr;</a>
				{% endif %}
			</p>
		</nav>
	{% endif %}

{% endblock %}

{% block sidebar %}
	{% if date_list|length > 1 %}
		{# Don't both showing it if there's only one day #}
		<div class="card mb-3">
			<div class="card-body">
				<h2 class="h6 card-title">Days in {{ month|date:"M Y" }}</h2>
				<ul class="mb-0">
					{% for day in date_list %}
						<li>
							<a href="{% url 'hines:day_archive' year=day|date:"Y" month=day|date:"m" day=day|date:"d" %}">{{ day|date:"j" }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

	{{ block.super }}
{% endblock sidebar %}
