{% extends 'weblogs/base.html' %}

{% block head_page_title %}{{ blog.name }}: {{ month|date:"F Y" }}{% endblock %}
{% block content_title %}{{ blog.name }}:  {{ month|date:"F Y" }}{% endblock %}

{% block content %}

	{% include 'weblogs/includes/posts.html' with post_list=post_list compact=True only %}

	{% if previous_month or next_month %}
		<nav class="nextprev">
			<p>
				{% if previous_month %}
					<a class="btn btn-outline-primary" href="{% url 'hines:post_month_archive' blog_slug=blog.slug year=previous_month|date:"Y" month=previous_month|date:"m" %}">&larr; {{ previous_month|date:"F Y" }}</a>
				{% endif %}
				{% if next_month %}
					<a class="btn btn-outline-primary float-right" href="{% url 'hines:post_month_archive' blog_slug=blog.slug year=next_month|date:"Y" month=next_month|date:"m" %}">{{ next_month|date:"F Y" }} &rarr;</a>
				{% endif %}
			</p>
		</nav>
	{% endif %}

{% endblock %}
