{% extends 'hines_core/layouts/no_sidebar.html' %}
{% load comments hines_core hines_weblogs spectator_reading %}

{% block head_page_title %}{{ post.title }}{% endblock %}
{% block content_title %}{{ post.title }}{% endblock %}

{% block content_heading %}
  {% with text_style='1' %}
    {{ block.super }}
  {% endwith %}
{% endblock content_heading %}

{% block head_extra %}
	{{ block.super }}
	<link rel="index" title="In all of {{ post.blog.short_name }}" href="{% url 'hines:blog_archive' blog_slug=post.blog.slug %}"/>
	{% with post.get_previous_post as previous_post %}
		{% if previous_post %}
			<link rel="prev" title="{{ previous_post.get_absolute_url }}" href="{{ previous_post.title }}"/>
		{% endif %}
	{% endwith %}
	{% with post.get_next_post as next_post %}
		{% if next_post %}
			<link rel="next" title="{{ next_post.get_absolute_url }}" href="{{ next_post.title }}"/>
		{% endif %}
	{% endwith %}
{% endblock %}

{% block content %}

	{% if is_preview %}
		<p class="admin">
			This is a preview. This Post’s status is {{ post.status_str }}.
		</p>
	{% endif %}

  <p>Published at {% display_time post.time_published link_to_day=True %}</p>

  {% with post.get_previous_post as previous_post %}
    {% with post.get_next_post as next_post %}
      {% if previous_post or next_post %}
        <nav class="nextprev">
          <p>
            {% if previous_post %}
              <a class="nextprev__prev" href="{{ previous_post.get_absolute_url }}" title="{{ previous_post.title }}">&larr; <span class="a__inner">Older post</span></a>
            {% endif %}
            {% if next_post %}
              <a class="nextprev__next" href="{{ next_post.get_absolute_url }}" title="{{ next_post.title }}"><span class="a__inner">Newer post</span> &rarr;</a>
            {% endif %}
          </p>
        </nav>
      {% endif %}
    {% endwith %}
  {% endwith %}

	{% include 'weblogs/includes/post.html' with post=post in_list=False perms=perms only %}

  <hr>

	{% render_comment_list for post %}

	{% if post.comments_allowed %}
		<h2 class="text-style-2">Post a comment</h2>
		{% render_comment_form for post %}
	{% else %}
		<p>Comments are closed for this post.</p>
	{% endif %}

	{% if post.trackback_count > 0 %}
		<section class="trackbacks">
			<h2 class="text-style-2">
				{{ post.trackback_count }} trackback{{ post.trackback_count|pluralize }}
			</h2>
			<hr>

			{% for trackback in post.get_visible_trackbacks %}
				<div class="row trackback" id="t{{ trackback.id }}">
					<div class="col-sm-3">
						<strong>
							{{ trackback.blog_name }}
						</strong>
						<br>
						{% display_time trackback.time_created %}
					</div>
					<div class="col-sm-9">
						<strong>
							<a href="{{ trackback.url }}" rel="nofollow">
								{{ trackback.title }}
							</a>
						</strong>
						<p>{{ trackback.excerpt }}</p>
					</div>
				</div> <!-- .trackback -->
				<hr>
			{% endfor %}
		</section>
	{% endif %}

{% endblock %}

