{% extends 'hines_core/layouts/sidebar_left.html' %}
{% comment %}
  Expects:
    * components - A list of slugs.
    * current_component - The page's slug, or None.
{% endcomment %}

{% block head_page_title %}Components{% if current_component %}: {{ current_component|title }}{% endif %}{% endblock %}
{% block content_title %}Components{% if current_component %}: {{ current_component|title }}{% endif %}{% endblock %}

{% block sidebar %}

  <aside class="card">
    <div class="card__body">
      <h2 class="card__title">Pages</h2>
      <ul class="card__text">
        {% for slug in components %}
          <li>
            {% if slug == current_component %}
              {{ slug|title }}
            {% else %}
              <a href="{% url 'hines:component_detail' slug=slug %}">{{ slug|title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </aside>

{% endblock sidebar %}
